#   By Myungkyu Kim - 2008/04/01

file db/HDS_VPS_AI_GAUGE.db
{
pattern
{PV_NAME	TAG	DESC	UNIT	LOPR	 HOPR} 
{HDS_VPS_R_CG1	E_CG1	"E_CG1"	mbar	1000	 1.0e-10} 
{HDS_VPS_R_CG2	E_CG2	"E_CG2"	mbar	1000	 1.0e-10} 
{HDS_VPS_R_FG1	E_FG1	"E_FG1"	mbar	1000	 1.0e-10} 
{HDS_VPS_R_FG2	E_FG2	"E_FG2"	mbar	1000	 1.0e-10} 
}
