file db/RBA_READ_CH.db 
{
	pattern { PVNAME, DEV, CHAN }
		{ "RBA_CH01" , "Dev1", "0" }
		{ "RBA_CH02" , "Dev1", "1" }
		{ "RBA_CH03" , "Dev1", "2" }
		{ "RBA_CH04" , "Dev1", "3" }

		{ "RBA_CH05" , "Dev2", "0" }
		{ "RBA_CH06" , "Dev2", "1" }
		{ "RBA_CH07" , "Dev2", "2" }
		{ "RBA_CH08" , "Dev2", "3" }

		{ "RBA_CH09" , "Dev3", "0" }
		{ "RBA_CH10" , "Dev3", "1" }
		{ "RBA_CH11" , "Dev3", "2" }
		{ "RBA_CH12" , "Dev3", "3" }
}
