file ./db/devLHCD_MBBI.db
{
pattern
{PV_NAME    TAG DESC}
{LH1_DI1           DI1           "LH1 Status"}
#{LH1_DI2           LH1_           "LH1 Status"}
{LH1_DO1           DO1           "LH1 Status"}
}
