file db/dbVVPTMP.vdb
{
pattern
# system        control
#       sub-system                   
  { SYS,   SUB,   CTRL,  PORT, A}
  { VMS,  VV,   TMP1,    L0, 0}
  { VMS,  VV,   TMP2,    L1, 0}
  { VMS,  VV,   TMP3,    L2, 0}
  { VMS,  VV,   TMP4,    L3, 0}
  { VMS,  VV,   TMP5,    L4, 0}
  { VMS,  VV,   TMP6,    L5, 0}
  { VMS,  VV,   TMP7,    L6, 0}
  { VMS,  VV,   TMP8,    L7, 0}
}
