file db/dbVVPTPG262.vdb
{
pattern
  { SYS,  SUB,    CTRL,         PORT}
  { VMS, VV, TPG262C0, TPG262CTRL0}
  { VMS, VV, TPG262C1, TPG262CTRL1}
  { VMS, VV, TPG262C2, TPG262CTRL2}
  { VMS, VV, TPG262C3, TPG262CTRL3}
#
  { VMS, VV, TEST_TPG262C0, TEST_TPG262CTRL0}
  { VMS, VV, TEST_TPG262C1, TEST_TPG262CTRL1}
  { VMS, VV, TEST_TPG262C2, TEST_TPG262CTRL2}

}
