file db/dbVVPCRP.vdb
{
pattern
# system        control
#       sub-system                   
  { SYS,   SUB,   CTRL,  PORT, A, CTRL_NUM}
  { VMS,  VV,   CRP1,    L8, 0,        1}
  { VMS,  VV,   CRP2,    L8, 0,        2}
}
