file db/CRP_Rxx.db
{
pattern
{NAME_RXX	PV_RXX}
{VV_CRP1_R00	VMS_VV_CRP1_R00}
{VV_CRP1_R01	VMS_VV_CRP1_R01}
{VV_CRP1_R02	VMS_VV_CRP1_R02}
{VV_CRP1_R03	VMS_VV_CRP1_R03}
{VV_CRP1_R04	VMS_VV_CRP1_R04}

{VV_CRP2_R00	VMS_VV_CRP2_R00}
{VV_CRP2_R01	VMS_VV_CRP2_R01}
{VV_CRP2_R02	VMS_VV_CRP2_R02}
{VV_CRP2_R03	VMS_VV_CRP2_R03}
{VV_CRP2_R04	VMS_VV_CRP2_R04}
}
