file db/MC_DAQ_SOFT_AO.db {
pattern {SLOT1}
  {"MC_SLOT1"},
  {"MC_SLOT2"},
  {"MC_SLOT3"},
  {"MC_SLOT4"},
  {"MC_SLOT5"},
  {"MC_SLOT6"},
  {"MC_SLOT7"},
  {"MC_SLOT8"},
  {"MC_SLOT9"},
  {"MC_SLOT10"},
  {"MC_SLOT11"},
  {"MC_SLOT12"}
}
