#########################################################
# Environment variables for SDN application
#########################################################

# SDN interface name. If not defined, initializeSDN() fails. 
SDN_INTERFACE_NAME		<SDN Interface Name>			


# Hostname on PON of the controller
SDN_PON_HOSTNAME		<Host Name>

