file db/dbCRP.vdb
{
pattern
# system        control
#       sub-system                   
  { SYS,   SUB,   CTRL,  PORT, A, CTRL_NUM}
  { VMS,  CR,   CRP1,    L4, 0,        1}
  { VMS,  CR,   CRP2,    L4, 0,        2}
}
