file db/dbTMP.vdb
{
pattern
# system        control
#       sub-system                   
  { SYS,   SUB,   CTRL,  PORT, A}
  { VMS,  CR,   TMP1,    L0, 0}
  { VMS,  CR,   TMP2,    L1, 0}
  { VMS,  CR,   TMP3,    L2, 0}
  { VMS,  CR,   TMP4,    L3, 0}
}
