file db/dbTPG262.vdb
{
pattern
{SYS	SUB	CTRL	HHSV	HSV	PORT}
{VMS	CR	TPG262C0	NO_ALARM	NO_ALARM	TPG262CTRL0}
{VMS	CR	TPG262C1	NO_ALARM	NO_ALARM	TPG262CTRL1}
{VMS	CR	TPG262C2	NO_ALARM	NO_ALARM	TPG262CTRL2}
{VMS	CR	TPG262C3	MAJOR	MINOR	TPG262CTRL3}
}
