file db/dbMBP.vdb
{
pattern
# system        control
#       sub-system                   
  { SYS,   SUB,   CTRL,  PORT}
  { VMS,  CR,   DBP,    L5}
  { VMS,  CR,   DRP1,    L6}
  { VMS,  CR,   DRP2,    L7}
}
