file db/dbGPIO_in.db
{
    pattern  {      CHX,   I_NAME }
        {   "0",    "IN_0" }
        {   "1",    "IN_1" }
        {   "2",    "IN_2" }
        {   "3",    "IN_3" }

        {   "4",    "IN_4" }
        {   "5",    "IN_5" }
        {   "6",    "IN_6" }
        {   "7",    "IN_7" }

}



