file db/dbGPIO_out.db
{
    pattern  {      CHX,   O_NAME }
        {   "0",    "OUT_0" }
        {   "1",    "OUT_1" }
        {   "2",    "OUT_2" }
        {   "3",    "OUT_3" }

        {   "4",    "OUT_4" }
        {   "5",    "OUT_5" }
        {   "6",    "OUT_6" }
        {   "7",    "OUT_7" }

}



