file db/MMWI_READ_CH.db {
pattern{PVNAME,DEV,CHAN}
	{"MMWI_READ_DATA_D1CH0","Dev1","0"}
	{"MMWI_READ_DATA_D1CH1","Dev1","1"}
#	{"MMWI_READ_DATA_D1CH2","Dev1","2"}
#	{"MMWI_READ_DATA_D1CH3","Dev1","3"}
}
