file db/EC1_D1_DAQ_TC_CH.db 
{
	pattern { PVNAME, DEV, CHAN }
		{ "EC1_DLTC_01", "Dev1", "2" }
		{ "EC1_DLTC_02", "Dev1", "3" }
		{ "EC1_DLTC_03", "Dev1", "4" }
		{ "EC1_DLTC_04", "Dev1", "5" }
		{ "EC1_DLTC_05", "Dev1", "6" }
		{ "EC1_DLTC_06", "Dev1", "7" }
		{ "EC1_DLTC_07", "Dev1", "8" }
		{ "EC1_DLTC_08", "Dev1", "9" }
		{ "EC1_DLTC_09", "Dev1", "10" }
		{ "EC1_DLTC_10", "Dev1", "11" }
		{ "EC1_DLTC_11", "Dev1", "12" }
		{ "EC1_DLTC_12", "Dev1", "13" }
}
