file db/cernoxAllRM.db { 
pattern {REC,DESC,HIHI1,LOLO1,HIGH1,LOW1,HIHI2,LOLO2,HIGH2,LOW2,IN1,IN2}
{"TMS_PFS00_SHL_TCUS00",  "", "50", "-50", "40", "-40", "20", "-20", "10", "-10", "HRSAI_270_TI_004", "HRSAI_300_TI_220"},
{"TMS_PFCL6_MHL_TCUR06", "", "50", "-50", "40", "-40", "2.5", "-2.5", "1.5", "-1.5", "HRSAI_270_TI_004", "HRSAI_300_TI_210"},
{"TMS_PFCL7_MHL_TCUS00", "", "50", "-50", "40", "-40", "2.5", "-2.5", "1.5", "-1.5", "HRSAI_270_TI_004", "HRSAI_300_TI_210"},
}
