file db/tmsMainCDCTLevel.db {
	pattern {TMS,	HIHI, LOLO, HIGH, LOW}
#		{"TMS_CDSTATUS_1ST"},
#		{"TMS_CDSTATUS_2ND"},
#		{"TMS_CDSTATUS_3RD"},
		{"TMS_CDCONSTRAINT_TOUTTIN", "25","-25","20","-20"},
		{"TMS_CDCONSTRAINT_TSURFACE", "50","-50","40","-40"},
}
