file db/tmsPT100_V2.db {
            pattern {REC,                     CHAN, UNITA}
                    {"TMS_DPSPT_SPT_TPT001", "AI0CH0","K"},
                    {"TMS_DPSPT_SPT_TPT002", "AI0CH1","K"},
                    {"TMS_RACKS_CUR_TPT001", "AI0CH2","K"},
                    {"TMS_RACKS_TEM_TPT001", "AI0CH3","K"},
                    {"TMS_RACKS_STR_TPT001", "AI0CH4","K"}
}
