file db/tmsVVHall.db {
            pattern {REC,                    TASK,      CHAN,        DESC,     OFFSET,   MSEN,    UNIT}
                    {"TMS_VVEPT_MID_HCTV01", "Dev5", "SC5Mod3/ai0", "HG 29078", "0", "1.325","Tesla"},
                    {"TMS_VVEPT_MID_HCTV02", "Dev5", "SC5Mod3/ai1", "HG 29088", "0", "1.295","Tesla"},
                    {"TMS_VVEPT_MID_HCTT01", "Dev5", "SC5Mod3/ai2", "HG 29076", "0", "1.403","Tesla"},
                    {"TMS_VVEPT_MID_HCTT02", "Dev5", "SC5Mod3/ai3", "HG 29082", "0", "1.233","Tesla"},
}
