file db/cernox.db {
    pattern { REC,     TASK,   CHAN,          SERIAL  }
            {"X09664", "Dev1", "SC1Mod1/ai0", "X09664"},
	    {"X09676", "Dev1", "SC1Mod1/ai1", "X09676"},
	    {"X09681", "Dev1", "SC1Mod1/ai2", "X09681"} 
}
