file ./db/NB1_PS_BO.db
{
	pattern
	{PV_NAME      TAG                PLC   DESC                  ZNAM    ONAM     ZSV       OSV}
	{NB1_TAG1_A   NB1_RGA_INTC_A     plc1  "RGA InterLock Sta."  OFF     ON       NO_ALARM  MAJOR}
	{NB1_TAG2_A   NB1_RGA_INTC_EN_A  plc1  "RGA En/Dis."         ENABLE  DISABLE  NO_ALARM  MAJOR}
}
