file db/NIDAQmx_AO.db {
pattern {PV_NAME,            	        	DSR,                  STR,     	  TASK,   CH,   POS,  VL}
	{"ECH_AO_PATTERN_VALUE_CH0_P00","ECH_PATTERN_VALUE_CH0_P00","pattern_value","Dev1_AO","0","0","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P01","ECH_PATTERN_VALUE_CH0_P01","pattern_value","Dev1_AO","0","1","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P02","ECH_PATTERN_VALUE_CH0_P02","pattern_value","Dev1_AO","0","2","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P03","ECH_PATTERN_VALUE_CH0_P03","pattern_value","Dev1_AO","0","3","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P04","ECH_PATTERN_VALUE_CH0_P04","pattern_value","Dev1_AO","0","4","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P05","ECH_PATTERN_VALUE_CH0_P05","pattern_value","Dev1_AO","0","5","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P06","ECH_PATTERN_VALUE_CH0_P06","pattern_value","Dev1_AO","0","6","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P07","ECH_PATTERN_VALUE_CH0_P07","pattern_value","Dev1_AO","0","7","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P08","ECH_PATTERN_VALUE_CH0_P08","pattern_value","Dev1_AO","0","8","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P09","ECH_PATTERN_VALUE_CH0_P09","pattern_value","Dev1_AO","0","9","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P10","ECH_PATTERN_VALUE_CH0_P10","pattern_value","Dev1_AO","0","10","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P11","ECH_PATTERN_VALUE_CH0_P11","pattern_value","Dev1_AO","0","11","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P12","ECH_PATTERN_VALUE_CH0_P12","pattern_value","Dev1_AO","0","12","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P13","ECH_PATTERN_VALUE_CH0_P13","pattern_value","Dev1_AO","0","13","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P14","ECH_PATTERN_VALUE_CH0_P14","pattern_value","Dev1_AO","0","14","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P15","ECH_PATTERN_VALUE_CH0_P15","pattern_value","Dev1_AO","0","15","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P16","ECH_PATTERN_VALUE_CH0_P16","pattern_value","Dev1_AO","0","16","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P17","ECH_PATTERN_VALUE_CH0_P17","pattern_value","Dev1_AO","0","17","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P18","ECH_PATTERN_VALUE_CH0_P18","pattern_value","Dev1_AO","0","18","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P19","ECH_PATTERN_VALUE_CH0_P19","pattern_value","Dev1_AO","0","19","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P20","ECH_PATTERN_VALUE_CH0_P20","pattern_value","Dev1_AO","0","20","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P21","ECH_PATTERN_VALUE_CH0_P21","pattern_value","Dev1_AO","0","21","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P22","ECH_PATTERN_VALUE_CH0_P22","pattern_value","Dev1_AO","0","22","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P23","ECH_PATTERN_VALUE_CH0_P23","pattern_value","Dev1_AO","0","23","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P24","ECH_PATTERN_VALUE_CH0_P24","pattern_value","Dev1_AO","0","24","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P25","ECH_PATTERN_VALUE_CH0_P25","pattern_value","Dev1_AO","0","25","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P26","ECH_PATTERN_VALUE_CH0_P26","pattern_value","Dev1_AO","0","26","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P27","ECH_PATTERN_VALUE_CH0_P27","pattern_value","Dev1_AO","0","27","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P28","ECH_PATTERN_VALUE_CH0_P28","pattern_value","Dev1_AO","0","28","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P29","ECH_PATTERN_VALUE_CH0_P29","pattern_value","Dev1_AO","0","29","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P30","ECH_PATTERN_VALUE_CH0_P30","pattern_value","Dev1_AO","0","30","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P31","ECH_PATTERN_VALUE_CH0_P31","pattern_value","Dev1_AO","0","31","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P32","ECH_PATTERN_VALUE_CH0_P32","pattern_value","Dev1_AO","0","32","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P33","ECH_PATTERN_VALUE_CH0_P33","pattern_value","Dev1_AO","0","33","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P34","ECH_PATTERN_VALUE_CH0_P34","pattern_value","Dev1_AO","0","34","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P35","ECH_PATTERN_VALUE_CH0_P35","pattern_value","Dev1_AO","0","35","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P36","ECH_PATTERN_VALUE_CH0_P36","pattern_value","Dev1_AO","0","36","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P37","ECH_PATTERN_VALUE_CH0_P37","pattern_value","Dev1_AO","0","37","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P38","ECH_PATTERN_VALUE_CH0_P38","pattern_value","Dev1_AO","0","38","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P39","ECH_PATTERN_VALUE_CH0_P39","pattern_value","Dev1_AO","0","39","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P40","ECH_PATTERN_VALUE_CH0_P40","pattern_value","Dev1_AO","0","40","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P41","ECH_PATTERN_VALUE_CH0_P41","pattern_value","Dev1_AO","0","41","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P42","ECH_PATTERN_VALUE_CH0_P42","pattern_value","Dev1_AO","0","42","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P43","ECH_PATTERN_VALUE_CH0_P43","pattern_value","Dev1_AO","0","43","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P44","ECH_PATTERN_VALUE_CH0_P44","pattern_value","Dev1_AO","0","44","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P45","ECH_PATTERN_VALUE_CH0_P45","pattern_value","Dev1_AO","0","45","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P46","ECH_PATTERN_VALUE_CH0_P46","pattern_value","Dev1_AO","0","46","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P47","ECH_PATTERN_VALUE_CH0_P47","pattern_value","Dev1_AO","0","47","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P48","ECH_PATTERN_VALUE_CH0_P48","pattern_value","Dev1_AO","0","48","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P49","ECH_PATTERN_VALUE_CH0_P49","pattern_value","Dev1_AO","0","49","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P50","ECH_PATTERN_VALUE_CH0_P50","pattern_value","Dev1_AO","0","50","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P51","ECH_PATTERN_VALUE_CH0_P51","pattern_value","Dev1_AO","0","51","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P52","ECH_PATTERN_VALUE_CH0_P52","pattern_value","Dev1_AO","0","52","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P53","ECH_PATTERN_VALUE_CH0_P53","pattern_value","Dev1_AO","0","53","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P54","ECH_PATTERN_VALUE_CH0_P54","pattern_value","Dev1_AO","0","54","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P55","ECH_PATTERN_VALUE_CH0_P55","pattern_value","Dev1_AO","0","55","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P56","ECH_PATTERN_VALUE_CH0_P56","pattern_value","Dev1_AO","0","56","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P57","ECH_PATTERN_VALUE_CH0_P57","pattern_value","Dev1_AO","0","57","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P58","ECH_PATTERN_VALUE_CH0_P58","pattern_value","Dev1_AO","0","58","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P59","ECH_PATTERN_VALUE_CH0_P59","pattern_value","Dev1_AO","0","59","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P60","ECH_PATTERN_VALUE_CH0_P60","pattern_value","Dev1_AO","0","60","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P61","ECH_PATTERN_VALUE_CH0_P61","pattern_value","Dev1_AO","0","61","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P62","ECH_PATTERN_VALUE_CH0_P62","pattern_value","Dev1_AO","0","62","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P63","ECH_PATTERN_VALUE_CH0_P63","pattern_value","Dev1_AO","0","63","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P64","ECH_PATTERN_VALUE_CH0_P64","pattern_value","Dev1_AO","0","64","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P65","ECH_PATTERN_VALUE_CH0_P65","pattern_value","Dev1_AO","0","65","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P66","ECH_PATTERN_VALUE_CH0_P66","pattern_value","Dev1_AO","0","66","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P67","ECH_PATTERN_VALUE_CH0_P67","pattern_value","Dev1_AO","0","67","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P68","ECH_PATTERN_VALUE_CH0_P68","pattern_value","Dev1_AO","0","68","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P69","ECH_PATTERN_VALUE_CH0_P69","pattern_value","Dev1_AO","0","69","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P70","ECH_PATTERN_VALUE_CH0_P70","pattern_value","Dev1_AO","0","70","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P71","ECH_PATTERN_VALUE_CH0_P71","pattern_value","Dev1_AO","0","71","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P72","ECH_PATTERN_VALUE_CH0_P72","pattern_value","Dev1_AO","0","72","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P73","ECH_PATTERN_VALUE_CH0_P73","pattern_value","Dev1_AO","0","73","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P74","ECH_PATTERN_VALUE_CH0_P74","pattern_value","Dev1_AO","0","74","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P75","ECH_PATTERN_VALUE_CH0_P75","pattern_value","Dev1_AO","0","75","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P76","ECH_PATTERN_VALUE_CH0_P76","pattern_value","Dev1_AO","0","76","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P77","ECH_PATTERN_VALUE_CH0_P77","pattern_value","Dev1_AO","0","77","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P78","ECH_PATTERN_VALUE_CH0_P78","pattern_value","Dev1_AO","0","78","0"}
	{"ECH_AO_PATTERN_VALUE_CH0_P79","ECH_PATTERN_VALUE_CH0_P79","pattern_value","Dev1_AO","0","79","0"}
}


