file db/NIDAQmx_AO.db {
pattern {PV_NAME,            	        	DSR,                  STR,     	  TASK,   CH,   POS,  VL}
	{"ECH_AO_PATTERN_VALUE_CH1_P00","ECH_PATTERN_VALUE_CH1_P00","pattern_value","Dev1_AO","1","0","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P01","ECH_PATTERN_VALUE_CH1_P01","pattern_value","Dev1_AO","1","1","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P02","ECH_PATTERN_VALUE_CH1_P02","pattern_value","Dev1_AO","1","2","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P03","ECH_PATTERN_VALUE_CH1_P03","pattern_value","Dev1_AO","1","3","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P04","ECH_PATTERN_VALUE_CH1_P04","pattern_value","Dev1_AO","1","4","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P05","ECH_PATTERN_VALUE_CH1_P05","pattern_value","Dev1_AO","1","5","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P06","ECH_PATTERN_VALUE_CH1_P06","pattern_value","Dev1_AO","1","6","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P07","ECH_PATTERN_VALUE_CH1_P07","pattern_value","Dev1_AO","1","7","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P08","ECH_PATTERN_VALUE_CH1_P08","pattern_value","Dev1_AO","1","8","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P09","ECH_PATTERN_VALUE_CH1_P09","pattern_value","Dev1_AO","1","9","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P10","ECH_PATTERN_VALUE_CH1_P10","pattern_value","Dev1_AO","1","10","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P11","ECH_PATTERN_VALUE_CH1_P11","pattern_value","Dev1_AO","1","11","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P12","ECH_PATTERN_VALUE_CH1_P12","pattern_value","Dev1_AO","1","12","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P13","ECH_PATTERN_VALUE_CH1_P13","pattern_value","Dev1_AO","1","13","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P14","ECH_PATTERN_VALUE_CH1_P14","pattern_value","Dev1_AO","1","14","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P15","ECH_PATTERN_VALUE_CH1_P15","pattern_value","Dev1_AO","1","15","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P16","ECH_PATTERN_VALUE_CH1_P16","pattern_value","Dev1_AO","1","16","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P17","ECH_PATTERN_VALUE_CH1_P17","pattern_value","Dev1_AO","1","17","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P18","ECH_PATTERN_VALUE_CH1_P18","pattern_value","Dev1_AO","1","18","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P19","ECH_PATTERN_VALUE_CH1_P19","pattern_value","Dev1_AO","1","19","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P20","ECH_PATTERN_VALUE_CH1_P20","pattern_value","Dev1_AO","1","20","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P21","ECH_PATTERN_VALUE_CH1_P21","pattern_value","Dev1_AO","1","21","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P22","ECH_PATTERN_VALUE_CH1_P22","pattern_value","Dev1_AO","1","22","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P23","ECH_PATTERN_VALUE_CH1_P23","pattern_value","Dev1_AO","1","23","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P24","ECH_PATTERN_VALUE_CH1_P24","pattern_value","Dev1_AO","1","24","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P25","ECH_PATTERN_VALUE_CH1_P25","pattern_value","Dev1_AO","1","25","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P26","ECH_PATTERN_VALUE_CH1_P26","pattern_value","Dev1_AO","1","26","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P27","ECH_PATTERN_VALUE_CH1_P27","pattern_value","Dev1_AO","1","27","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P28","ECH_PATTERN_VALUE_CH1_P28","pattern_value","Dev1_AO","1","28","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P29","ECH_PATTERN_VALUE_CH1_P29","pattern_value","Dev1_AO","1","29","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P30","ECH_PATTERN_VALUE_CH1_P30","pattern_value","Dev1_AO","1","30","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P31","ECH_PATTERN_VALUE_CH1_P31","pattern_value","Dev1_AO","1","31","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P32","ECH_PATTERN_VALUE_CH1_P32","pattern_value","Dev1_AO","1","32","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P33","ECH_PATTERN_VALUE_CH1_P33","pattern_value","Dev1_AO","1","33","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P34","ECH_PATTERN_VALUE_CH1_P34","pattern_value","Dev1_AO","1","34","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P35","ECH_PATTERN_VALUE_CH1_P35","pattern_value","Dev1_AO","1","35","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P36","ECH_PATTERN_VALUE_CH1_P36","pattern_value","Dev1_AO","1","36","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P37","ECH_PATTERN_VALUE_CH1_P37","pattern_value","Dev1_AO","1","37","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P38","ECH_PATTERN_VALUE_CH1_P38","pattern_value","Dev1_AO","1","38","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P39","ECH_PATTERN_VALUE_CH1_P39","pattern_value","Dev1_AO","1","39","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P40","ECH_PATTERN_VALUE_CH1_P40","pattern_value","Dev1_AO","1","40","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P41","ECH_PATTERN_VALUE_CH1_P41","pattern_value","Dev1_AO","1","41","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P42","ECH_PATTERN_VALUE_CH1_P42","pattern_value","Dev1_AO","1","42","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P43","ECH_PATTERN_VALUE_CH1_P43","pattern_value","Dev1_AO","1","43","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P44","ECH_PATTERN_VALUE_CH1_P44","pattern_value","Dev1_AO","1","44","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P45","ECH_PATTERN_VALUE_CH1_P45","pattern_value","Dev1_AO","1","45","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P46","ECH_PATTERN_VALUE_CH1_P46","pattern_value","Dev1_AO","1","46","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P47","ECH_PATTERN_VALUE_CH1_P47","pattern_value","Dev1_AO","1","47","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P48","ECH_PATTERN_VALUE_CH1_P48","pattern_value","Dev1_AO","1","48","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P49","ECH_PATTERN_VALUE_CH1_P49","pattern_value","Dev1_AO","1","49","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P50","ECH_PATTERN_VALUE_CH1_P50","pattern_value","Dev1_AO","1","50","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P51","ECH_PATTERN_VALUE_CH1_P51","pattern_value","Dev1_AO","1","51","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P52","ECH_PATTERN_VALUE_CH1_P52","pattern_value","Dev1_AO","1","52","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P53","ECH_PATTERN_VALUE_CH1_P53","pattern_value","Dev1_AO","1","53","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P54","ECH_PATTERN_VALUE_CH1_P54","pattern_value","Dev1_AO","1","54","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P55","ECH_PATTERN_VALUE_CH1_P55","pattern_value","Dev1_AO","1","55","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P56","ECH_PATTERN_VALUE_CH1_P56","pattern_value","Dev1_AO","1","56","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P57","ECH_PATTERN_VALUE_CH1_P57","pattern_value","Dev1_AO","1","57","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P58","ECH_PATTERN_VALUE_CH1_P58","pattern_value","Dev1_AO","1","58","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P59","ECH_PATTERN_VALUE_CH1_P59","pattern_value","Dev1_AO","1","59","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P60","ECH_PATTERN_VALUE_CH1_P60","pattern_value","Dev1_AO","1","60","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P61","ECH_PATTERN_VALUE_CH1_P61","pattern_value","Dev1_AO","1","61","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P62","ECH_PATTERN_VALUE_CH1_P62","pattern_value","Dev1_AO","1","62","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P63","ECH_PATTERN_VALUE_CH1_P63","pattern_value","Dev1_AO","1","63","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P64","ECH_PATTERN_VALUE_CH1_P64","pattern_value","Dev1_AO","1","64","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P65","ECH_PATTERN_VALUE_CH1_P65","pattern_value","Dev1_AO","1","65","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P66","ECH_PATTERN_VALUE_CH1_P66","pattern_value","Dev1_AO","1","66","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P67","ECH_PATTERN_VALUE_CH1_P67","pattern_value","Dev1_AO","1","67","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P68","ECH_PATTERN_VALUE_CH1_P68","pattern_value","Dev1_AO","1","68","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P69","ECH_PATTERN_VALUE_CH1_P69","pattern_value","Dev1_AO","1","69","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P70","ECH_PATTERN_VALUE_CH1_P70","pattern_value","Dev1_AO","1","70","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P71","ECH_PATTERN_VALUE_CH1_P71","pattern_value","Dev1_AO","1","71","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P72","ECH_PATTERN_VALUE_CH1_P72","pattern_value","Dev1_AO","1","72","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P73","ECH_PATTERN_VALUE_CH1_P73","pattern_value","Dev1_AO","1","73","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P74","ECH_PATTERN_VALUE_CH1_P74","pattern_value","Dev1_AO","1","74","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P75","ECH_PATTERN_VALUE_CH1_P75","pattern_value","Dev1_AO","1","75","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P76","ECH_PATTERN_VALUE_CH1_P76","pattern_value","Dev1_AO","1","76","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P77","ECH_PATTERN_VALUE_CH1_P77","pattern_value","Dev1_AO","1","77","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P78","ECH_PATTERN_VALUE_CH1_P78","pattern_value","Dev1_AO","1","78","0"}
	{"ECH_AO_PATTERN_VALUE_CH1_P79","ECH_PATTERN_VALUE_CH1_P79","pattern_value","Dev1_AO","1","79","0"}
}


