file db/NIDAQmx_Dev.db {
pattern{SYS,	DEV,    RDEV}
	{"SXR_AI","DEV7","Dev7"}
	{"SXR_AI","DEV6","Dev6"}
	{"SXR_AI","DEV5","Dev5"}
	{"SXR_AI","DEV4","Dev4"}
	{"SXR_AI","DEV3","Dev3"}
	{"SXR_AI","DEV2","Dev2"}
	{"SXR_AI","DEV1","Dev1"}
	{"SXR_AI","DEV9","Dev9"}
}

