file db/NIDAQmx_AO_CH1_FWD_TIME.db {
pattern {PV_NAME,      	DSR,                  STR,     	  TASK,   CH,   POS,  VL}
	{"P00","ECH_PATTERN_TIME_CH1_P00","pattern_time","Dev1_AO","1","0","0"}
	{"P01","ECH_PATTERN_TIME_CH1_P01","pattern_time","Dev1_AO","1","1","0"}
	{"P02","ECH_PATTERN_TIME_CH1_P02","pattern_time","Dev1_AO","1","2","0"}
	{"P03","ECH_PATTERN_TIME_CH1_P03","pattern_time","Dev1_AO","1","3","0"}
	{"P04","ECH_PATTERN_TIME_CH1_P04","pattern_time","Dev1_AO","1","4","0"}
	{"P05","ECH_PATTERN_TIME_CH1_P05","pattern_time","Dev1_AO","1","5","0"}
	{"P06","ECH_PATTERN_TIME_CH1_P06","pattern_time","Dev1_AO","1","6","0"}
	{"P07","ECH_PATTERN_TIME_CH1_P07","pattern_time","Dev1_AO","1","7","0"}
	{"P08","ECH_PATTERN_TIME_CH1_P08","pattern_time","Dev1_AO","1","8","0"}
	{"P09","ECH_PATTERN_TIME_CH1_P09","pattern_time","Dev1_AO","1","9","0"}
	{"P10","ECH_PATTERN_TIME_CH1_P10","pattern_time","Dev1_AO","1","10","0"}
	{"P11","ECH_PATTERN_TIME_CH1_P11","pattern_time","Dev1_AO","1","11","0"}
	{"P12","ECH_PATTERN_TIME_CH1_P12","pattern_time","Dev1_AO","1","12","0"}
	{"P13","ECH_PATTERN_TIME_CH1_P13","pattern_time","Dev1_AO","1","13","0"}
	{"P14","ECH_PATTERN_TIME_CH1_P14","pattern_time","Dev1_AO","1","14","0"}
	{"P15","ECH_PATTERN_TIME_CH1_P15","pattern_time","Dev1_AO","1","15","0"}
	{"P16","ECH_PATTERN_TIME_CH1_P16","pattern_time","Dev1_AO","1","16","0"}
	{"P17","ECH_PATTERN_TIME_CH1_P17","pattern_time","Dev1_AO","1","17","0"}
	{"P18","ECH_PATTERN_TIME_CH1_P18","pattern_time","Dev1_AO","1","18","0"}
	{"P19","ECH_PATTERN_TIME_CH1_P19","pattern_time","Dev1_AO","1","19","0"}
	{"P20","ECH_PATTERN_TIME_CH1_P20","pattern_time","Dev1_AO","1","20","0"}
	{"P21","ECH_PATTERN_TIME_CH1_P21","pattern_time","Dev1_AO","1","21","0"}
	{"P22","ECH_PATTERN_TIME_CH1_P22","pattern_time","Dev1_AO","1","22","0"}
	{"P23","ECH_PATTERN_TIME_CH1_P23","pattern_time","Dev1_AO","1","23","0"}
	{"P24","ECH_PATTERN_TIME_CH1_P24","pattern_time","Dev1_AO","1","24","0"}
	{"P25","ECH_PATTERN_TIME_CH1_P25","pattern_time","Dev1_AO","1","25","0"}
	{"P26","ECH_PATTERN_TIME_CH1_P26","pattern_time","Dev1_AO","1","26","0"}
	{"P27","ECH_PATTERN_TIME_CH1_P27","pattern_time","Dev1_AO","1","27","0"}
	{"P28","ECH_PATTERN_TIME_CH1_P28","pattern_time","Dev1_AO","1","28","0"}
	{"P29","ECH_PATTERN_TIME_CH1_P29","pattern_time","Dev1_AO","1","29","0"}
	{"P30","ECH_PATTERN_TIME_CH1_P30","pattern_time","Dev1_AO","1","30","0"}
	{"P31","ECH_PATTERN_TIME_CH1_P31","pattern_time","Dev1_AO","1","31","0"}
	{"P32","ECH_PATTERN_TIME_CH1_P32","pattern_time","Dev1_AO","1","32","0"}
	{"P33","ECH_PATTERN_TIME_CH1_P33","pattern_time","Dev1_AO","1","33","0"}
	{"P34","ECH_PATTERN_TIME_CH1_P34","pattern_time","Dev1_AO","1","34","0"}
	{"P35","ECH_PATTERN_TIME_CH1_P35","pattern_time","Dev1_AO","1","35","0"}
	{"P36","ECH_PATTERN_TIME_CH1_P36","pattern_time","Dev1_AO","1","36","0"}
	{"P37","ECH_PATTERN_TIME_CH1_P37","pattern_time","Dev1_AO","1","37","0"}
	{"P38","ECH_PATTERN_TIME_CH1_P38","pattern_time","Dev1_AO","1","38","0"}
	{"P39","ECH_PATTERN_TIME_CH1_P39","pattern_time","Dev1_AO","1","39","0"}
	{"P40","ECH_PATTERN_TIME_CH1_P40","pattern_time","Dev1_AO","1","40","0"}
	{"P41","ECH_PATTERN_TIME_CH1_P41","pattern_time","Dev1_AO","1","41","0"}
	{"P42","ECH_PATTERN_TIME_CH1_P42","pattern_time","Dev1_AO","1","42","0"}
	{"P43","ECH_PATTERN_TIME_CH1_P43","pattern_time","Dev1_AO","1","43","0"}
	{"P44","ECH_PATTERN_TIME_CH1_P44","pattern_time","Dev1_AO","1","44","0"}
	{"P45","ECH_PATTERN_TIME_CH1_P45","pattern_time","Dev1_AO","1","45","0"}
	{"P46","ECH_PATTERN_TIME_CH1_P46","pattern_time","Dev1_AO","1","46","0"}
	{"P47","ECH_PATTERN_TIME_CH1_P47","pattern_time","Dev1_AO","1","47","0"}
	{"P48","ECH_PATTERN_TIME_CH1_P48","pattern_time","Dev1_AO","1","48","0"}
	{"P49","ECH_PATTERN_TIME_CH1_P49","pattern_time","Dev1_AO","1","49","0"}
	{"P50","ECH_PATTERN_TIME_CH1_P50","pattern_time","Dev1_AO","1","50","0"}
	{"P51","ECH_PATTERN_TIME_CH1_P51","pattern_time","Dev1_AO","1","51","0"}
	{"P52","ECH_PATTERN_TIME_CH1_P52","pattern_time","Dev1_AO","1","52","0"}
	{"P53","ECH_PATTERN_TIME_CH1_P53","pattern_time","Dev1_AO","1","53","0"}
	{"P54","ECH_PATTERN_TIME_CH1_P54","pattern_time","Dev1_AO","1","54","0"}
	{"P55","ECH_PATTERN_TIME_CH1_P55","pattern_time","Dev1_AO","1","55","0"}
	{"P56","ECH_PATTERN_TIME_CH1_P56","pattern_time","Dev1_AO","1","56","0"}
	{"P57","ECH_PATTERN_TIME_CH1_P57","pattern_time","Dev1_AO","1","57","0"}
	{"P58","ECH_PATTERN_TIME_CH1_P58","pattern_time","Dev1_AO","1","58","0"}
	{"P59","ECH_PATTERN_TIME_CH1_P59","pattern_time","Dev1_AO","1","59","0"}
	{"P60","ECH_PATTERN_TIME_CH1_P60","pattern_time","Dev1_AO","1","60","0"}
	{"P61","ECH_PATTERN_TIME_CH1_P61","pattern_time","Dev1_AO","1","61","0"}
	{"P62","ECH_PATTERN_TIME_CH1_P62","pattern_time","Dev1_AO","1","62","0"}
	{"P63","ECH_PATTERN_TIME_CH1_P63","pattern_time","Dev1_AO","1","63","0"}
	{"P64","ECH_PATTERN_TIME_CH1_P64","pattern_time","Dev1_AO","1","64","0"}
	{"P65","ECH_PATTERN_TIME_CH1_P65","pattern_time","Dev1_AO","1","65","0"}
	{"P66","ECH_PATTERN_TIME_CH1_P66","pattern_time","Dev1_AO","1","66","0"}
	{"P67","ECH_PATTERN_TIME_CH1_P67","pattern_time","Dev1_AO","1","67","0"}
	{"P68","ECH_PATTERN_TIME_CH1_P68","pattern_time","Dev1_AO","1","68","0"}
	{"P69","ECH_PATTERN_TIME_CH1_P69","pattern_time","Dev1_AO","1","69","0"}
	{"P70","ECH_PATTERN_TIME_CH1_P70","pattern_time","Dev1_AO","1","70","0"}
	{"P71","ECH_PATTERN_TIME_CH1_P71","pattern_time","Dev1_AO","1","71","0"}
	{"P72","ECH_PATTERN_TIME_CH1_P72","pattern_time","Dev1_AO","1","72","0"}
	{"P73","ECH_PATTERN_TIME_CH1_P73","pattern_time","Dev1_AO","1","73","0"}
	{"P74","ECH_PATTERN_TIME_CH1_P74","pattern_time","Dev1_AO","1","74","0"}
	{"P75","ECH_PATTERN_TIME_CH1_P75","pattern_time","Dev1_AO","1","75","0"}
	{"P76","ECH_PATTERN_TIME_CH1_P76","pattern_time","Dev1_AO","1","76","0"}
	{"P77","ECH_PATTERN_TIME_CH1_P77","pattern_time","Dev1_AO","1","77","0"}
	{"P78","ECH_PATTERN_TIME_CH1_P78","pattern_time","Dev1_AO","1","78","0"}
	{"P79","ECH_PATTERN_TIME_CH1_P79","pattern_time","Dev1_AO","1","79","0"}
}


