#   By linupark - 2011/05/31

file db/SMBI_FILD_AI.db
{
pattern
{PV_NAME	TAG	DESC	UNIT	LOPR	HOPR}
#Added by linupark for SMBI and MGI
#{PV_NAME	TAG	DESC	UNIT	LOPR	HOPR}
{SMBI_FILD_I_TC3	I_SMBI_TC3	"I_SMBI_TC3"	degC	0	100}
}
