#   By linupark - 2011/05/31

file db/SMBI_MGI_BO.db
{
pattern
{PV_NAME	TAG	DESC	ZNAM	ONAM	ZSV	OSV}
#Added by linupark for SMBI and MGI
{MGI_EC_TRIG       MGI_EC_TRIG     "MGI Trig OFF/ON"       OFF     ON      MAJOR   NO_ALARM}
{MGI_EC_ESTOP      MGI_EC_STOP    "MGI ESTOP  OFF/ON"     OFF     ON      MAJOR   NO_ALARM}
#{MGI_EC_CHARGE      MGI_EC_CHARGE    "MGI CHARGE START OFF/ON"     OFF     ON      MAJOR   NO_ALARM}
}
