file db/SMBI_DAQ_READ_CH.db {
pattern{PVNAME,DEV,CHAN}
	{"SMBI_DAQ_READ_DATA_D1CH0","Dev1","0"}
	{"SMBI_DAQ_READ_DATA_D1CH1","Dev1","1"}
	{"SMBI_DAQ_READ_DATA_D1CH2","Dev1","2"}
	{"SMBI_DAQ_READ_DATA_D1CH3","Dev1","3"}
	{"SMBI_DAQ_READ_DATA_D1CH4","Dev1","4"}
	{"SMBI_DAQ_READ_DATA_D1CH5","Dev1","5"}
}
