file db/SMBI_DAQ_READ_CH_DEV2.db {
pattern{PVNAME,DEV,CHAN}
	{"SMBI_DAQ_READ_DATA_D1CH4","Dev1","4"}
	{"SMBI_DAQ_READ_DATA_D1CH5","Dev1","5"}
	{"SMBI_DAQ_READ_DATA_D1CH6","Dev1","6"}
	{"SMBI_DAQ_READ_DATA_D1CH7","Dev1","7"}
	{"SMBI_DAQ_READ_DATA_D2CH0","Dev2","0"}
	{"SMBI_DAQ_READ_DATA_D2CH1","Dev2","1"}
	{"SMBI_DAQ_READ_DATA_D2CH2","Dev2","2"}
	{"SMBI_DAQ_READ_DATA_D2CH3","Dev2","3"}
	{"SMBI_DAQ_READ_DATA_D2CH4","Dev2","4"}
	{"SMBI_DAQ_READ_DATA_D2CH5","Dev2","5"}
	{"SMBI_DAQ_READ_DATA_D2CH6","Dev2","6"}
	{"SMBI_DAQ_READ_DATA_D2CH7","Dev2","7"}
}
