file db/tmsDisplacement_TFS.db {
                    pattern {REC,                     TASK,     CHAN,     SLOPE,  DESC, HIHI1, LOLO1, HIGH1, LOW1}
                            {"TMS_TFS03_OIS_DHS001", "Dev4", "SC4Mod1/ai2", "430.7", "FG1300009","1.5","-1.5","1.0","-1.0"},
                            {"TMS_TFS11_OIS_DHS001", "Dev4", "SC4Mod2/ai1", "423.8", "FG1300010","1.5","-1.5","1.0","-1.0"},
                            {"TMS_BUSPT_SPT_DHS001", "Dev4", "SC4Mod1/ai5", "391.5", "FB1910001","6.","-6.","5.0","-5.0"}
}
