file db/dlsShutter2_bo.db {
            pattern {REC,                 DE,                 	 	CHAN}
                    {"DLS_RBA_L_SHUT","RBA shutter control",	"DO0CH0"},
                    {"DLS_SXR_D_SHUT","Soft X-ray Shutter Control","DO0CH1"}
}
