#
#
#
#

file db/ccs_vxStats.vdb
{
    pattern {    P,    HCL, WCL, ACL, HCX, WCX, ACX, HCP, WCP, ACP, HMM,   WMM,  AMM,   HFD, WFD, AFD }
            {  CCS,   100,   5,  10,  100,  5,  10,  100, 30,  70, 1.E+9, 5.E+6, 1.E+6, 100, 40,  5 }
}
