file db/MC_DAQ_MDSNODE_STRING.db {
            pattern {PV_NAME,                  TASK,                STR,       CH,         SVAL}
                    {"MCWIN_SLOT5_MDS_SERVER_NAME", "VXI0::132::INSTR","tree_server","","172.17.100.202:8000"}
                    {"MCWIN_SLOT5_MDS_TREE_NAME", "VXI0::132::INSTR",  "tree_name", "", "r_magnetic"}
                    {"MCWIN_SLOT5_MDS_NODE_CH00", "VXI0::132::INSTR",  "tree_node","SLOT5/ai0","\\MC1T20:FOO"}
                    {"MCWIN_SLOT5_MDS_NODE_CH01", "VXI0::132::INSTR",  "tree_node", "SLOT5/ai1","\\MC2P11:FOO"}
                    {"MCWIN_SLOT5_MDS_NODE_CH02", "VXI0::132::INSTR",  "tree_node", "SLOT5/ai2","\\MC2P12:FOO"}
                    {"MCWIN_SLOT5_MDS_NODE_CH03", "VXI0::132::INSTR",  "tree_node", "SLOT5/ai3","\\MC2P13:FOO"}
}
