file db/MC_DAQ_AI.db {
            pattern {PV_NAME,              TASK }
                    {"MCWIN_SLOT1",   "VXI0::88::INSTR"}
                    {"MCWIN_SLOT2",   "VXI0::96::INSTR"}
                    {"MCWIN_SLOT3",   "VXI0::128::INSTR"}
                    {"MCWIN_SLOT4",   "VXI0::130::INSTR"}
                    {"MCWIN_SLOT5",   "VXI0::132::INSTR"}
#                    {"MCWIN_SLOT6",   "VXI0::136::INSTR"}
}
