file db/MC_DAQ_MBBO2.db {
            pattern {PV_NAME,                PV_DESC,                  TASK,               CHAN }
                    {"MCWIN_SLOT1_FILTER_CH1","MCWIN_SLOT1_FILTER_CH1", "VXI0::88::INSTR",  "SLOT1/ai0"}
                    {"MCWIN_SLOT1_FILTER_CH2","MCWIN_SLOT1_FILTER_CH2", "VXI0::88::INSTR",  "SLOT1/ai1"}
                    {"MCWIN_SLOT1_FILTER_CH3","MCWIN_SLOT1_FILTER_CH3", "VXI0::88::INSTR",  "SLOT1/ai2"}
                    {"MCWIN_SLOT1_FILTER_CH4","MCWIN_SLOT1_FILTER_CH4", "VXI0::88::INSTR",  "SLOT1/ai3"}
}
