file db/MC_DAQ_MBBO2.db {
            pattern {PV_NAME,                PV_DESC,                  TASK,               CHAN }
                    {"MCWIN_SLOT6_FILTER_CH1","MCWIN_SLOT6_FILTER_CH1", "VXI0::136::INSTR",  "SLOT6/ai0"}
                    {"MCWIN_SLOT6_FILTER_CH2","MCWIN_SLOT6_FILTER_CH2", "VXI0::136::INSTR",  "SLOT6/ai1"}
                    {"MCWIN_SLOT6_FILTER_CH3","MCWIN_SLOT6_FILTER_CH3", "VXI0::136::INSTR",  "SLOT6/ai2"}
                    {"MCWIN_SLOT6_FILTER_CH4","MCWIN_SLOT6_FILTER_CH4", "VXI0::136::INSTR",  "SLOT6/ai3"}
}
