file db/MC_DAQ_MDSNODE_STRING.db {
            pattern {PV_NAME,                  TASK,                STR,       CH,         SVAL}
                    {"MCWIN_SLOT3_MDS_SERVER_NAME", "VXI0::128::INSTR","tree_server","","172.17.100.202:8000"}
                    {"MCWIN_SLOT3_MDS_TREE_NAME", "VXI0::128::INSTR",  "tree_name", "", "r_magnetic"}
                    {"MCWIN_SLOT3_MDS_NODE_CH00", "VXI0::128::INSTR",  "tree_node","SLOT3/ai0","\\MC1T12:FOO"}
                    {"MCWIN_SLOT3_MDS_NODE_CH01", "VXI0::128::INSTR",  "tree_node", "SLOT3/ai1","\\MC1T13:FOO"}
                    {"MCWIN_SLOT3_MDS_NODE_CH02", "VXI0::128::INSTR",  "tree_node", "SLOT3/ai2","\\MC1T14:FOO"}
                    {"MCWIN_SLOT3_MDS_NODE_CH03", "VXI0::128::INSTR",  "tree_node", "SLOT3/ai3","\\MC1T15:FOO"}
}
