file db/MC_DAQ_MBBO2.db {
            pattern {PV_NAME,                PV_DESC,                  TASK,               CHAN }
                    {"MC_SLOT6_FILTER_CH1","MC_SLOT6_FILTER_CH1", "VXI0::82::INSTR",  "SLOT6/ai0"}
                    {"MC_SLOT6_FILTER_CH2","MC_SLOT6_FILTER_CH2", "VXI0::82::INSTR",  "SLOT6/ai1"}
                    {"MC_SLOT6_FILTER_CH3","MC_SLOT6_FILTER_CH3", "VXI0::82::INSTR",  "SLOT6/ai2"}
                    {"MC_SLOT6_FILTER_CH4","MC_SLOT6_FILTER_CH4", "VXI0::82::INSTR",  "SLOT6/ai3"}
}
