file db/MC_DAQ_MDSNODE_STRING.db {
            pattern {PV_NAME,                  TASK,                STR,       CH,         SVAL}
                    {"MC_SLOT6_MDS_SERVER_NAME", "VXI0::82::INSTR","tree_server","","172.17.100.202:8000"}
                    {"MC_SLOT6_MDS_TREE_NAME", "VXI0::82::INSTR",  "tree_name", "", "r_magnetic"}
                    {"MC_SLOT6_MDS_NODE_CH00", "VXI0::82::INSTR",  "tree_node","SLOT6/ai0","\\MC1P21:FOO"}
                    {"MC_SLOT6_MDS_NODE_CH01", "VXI0::82::INSTR",  "tree_node", "SLOT6/ai1","\\MC1P22:FOO"}
                    {"MC_SLOT6_MDS_NODE_CH02", "VXI0::82::INSTR",  "tree_node", "SLOT6/ai2","\\MC1T01:FOO"}
                    {"MC_SLOT6_MDS_NODE_CH03", "VXI0::82::INSTR",  "tree_node", "SLOT6/ai3","\\MC1T02:FOO"}
}
