file db/MC_DAQ_MDSNODE_STRING.db {
            pattern {PV_NAME,                  TASK,                STR,       CH,         SVAL}
                    {"MC_SLOT7_MDS_SERVER_NAME", "VXI0::88::INSTR","tree_server","","172.17.100.202:8000"}
                    {"MC_SLOT7_MDS_TREE_NAME", "VXI0::88::INSTR",  "tree_name", "", "r_magnetic"}
                    {"MC_SLOT7_MDS_NODE_CH00", "VXI0::88::INSTR",  "tree_node","SLOT7/ai0","\\MC1T03:FOO"}
                    {"MC_SLOT7_MDS_NODE_CH01", "VXI0::88::INSTR",  "tree_node", "SLOT7/ai1","\\MC1T04:FOO"}
                    {"MC_SLOT7_MDS_NODE_CH02", "VXI0::88::INSTR",  "tree_node", "SLOT7/ai2","\\MC1T05:FOO"}
                    {"MC_SLOT7_MDS_NODE_CH03", "VXI0::88::INSTR",  "tree_node", "SLOT7/ai3","\\MC1T06:FOO"}
}
