file db/MC_DAQ_MDSNODE_STRING.db {
            pattern {PV_NAME,                  TASK,                STR,       CH,         SVAL}
                    {"MC_SLOT5_MDS_SERVER_NAME", "VXI0::80::INSTR","tree_server","","172.17.100.202:8000"}
                    {"MC_SLOT5_MDS_TREE_NAME", "VXI0::80::INSTR",  "tree_name", "", "r_magnetic"}
                    {"MC_SLOT5_MDS_NODE_CH00", "VXI0::80::INSTR",  "tree_node","SLOT5/ai0","\\MC1P17:FOO"}
                    {"MC_SLOT5_MDS_NODE_CH01", "VXI0::80::INSTR",  "tree_node", "SLOT5/ai1","\\MC1P18:FOO"}
                    {"MC_SLOT5_MDS_NODE_CH02", "VXI0::80::INSTR",  "tree_node", "SLOT5/ai2","\\MC1P19:FOO"}
                    {"MC_SLOT5_MDS_NODE_CH03", "VXI0::80::INSTR",  "tree_node", "SLOT5/ai3","\\MC1P16:FOO"}
}
