file db/MC_DAQ_MDSNODE_STRING.db {
            pattern {PV_NAME,                  TASK,                STR,       CH,         SVAL}
                    {"MC_SLOT3_MDS_SERVER_NAME", "VXI0::64::INSTR","tree_server","","172.17.100.202:8000"}
                    {"MC_SLOT3_MDS_TREE_NAME", "VXI0::64::INSTR",  "tree_name", "", "r_magnetic"}
                    {"MC_SLOT3_MDS_NODE_CH00", "VXI0::64::INSTR",  "tree_node","SLOT3/ai0","\\MC1P09:FOO"}
                    {"MC_SLOT3_MDS_NODE_CH01", "VXI0::64::INSTR",  "tree_node", "SLOT3/ai1","\\MC1P14:FOO"}
                    {"MC_SLOT3_MDS_NODE_CH02", "VXI0::64::INSTR",  "tree_node", "SLOT3/ai2","\\MC1P15:FOO"}
                    {"MC_SLOT3_MDS_NODE_CH03", "VXI0::64::INSTR",  "tree_node", "SLOT3/ai3","\\MC1P12:FOO"}
}
