file db/MC_DAQ_MBBO2.db {
            pattern {PV_NAME,                PV_DESC,                  TASK,               CHAN }
                    {"MC_SLOT9_FILTER_CH1","MC_SLOT9_FILTER_CH1", "VXI0::128::INSTR",  "SLOT9/ai0"}
                    {"MC_SLOT9_FILTER_CH2","MC_SLOT9_FILTER_CH2", "VXI0::128::INSTR",  "SLOT9/ai1"}
                    {"MC_SLOT9_FILTER_CH3","MC_SLOT9_FILTER_CH3", "VXI0::128::INSTR",  "SLOT9/ai2"}
                    {"MC_SLOT9_FILTER_CH4","MC_SLOT9_FILTER_CH4", "VXI0::128::INSTR",  "SLOT9/ai3"}
}
