file db/MC_DAQ_SOFT_MASTER_AO.db {
pattern {PV_NAME,		PRE,IVAL}
{"MC_MASTER_SAMPLE_COUNT","0","500000"}
{"MC_MASTER_SAMPLE_PRECOUNT","0","0"}
{"MC_MASTER_SAMPLE_PERIOD","7","0.00001"}
{"MC_MASTER_SHOT_NUMBER","0","1"}
{"MC_MASTER_START_TIME","3","0"}
{"MC_MASTER_BLIP_TIME","2","11."}
{"MC_MASTER_REMOTE_LOCAL","0","0"}
{"MC_MASTER_TASK_ABORT","0","0"}
{"MC_MASTER_TASK_REG_UPDATE","0","0"}
{"MC_MASTER_TASK_START","0","0"}
{"MC_MASTER_TASK_STOP","0","0"}
}
