file db/MC_DAQ_MDSNODE_STRING.db {
            pattern {PV_NAME,                  TASK,                STR,       CH,         SVAL}
                    {"MC_SLOT2_MDS_SERVER_NAME", "VXI0::48::INSTR","tree_server","","172.17.100.202:8000"}
                    {"MC_SLOT2_MDS_TREE_NAME", "VXI0::48::INSTR",  "tree_name", "", "r_magnetic"}
                    {"MC_SLOT2_MDS_NODE_CH00", "VXI0::48::INSTR",  "tree_node","SLOT2/ai0","\\MC1P05:FOO"}
                    {"MC_SLOT2_MDS_NODE_CH01", "VXI0::48::INSTR",  "tree_node", "SLOT2/ai1","\\MC1P06:FOO"}
                    {"MC_SLOT2_MDS_NODE_CH02", "VXI0::48::INSTR",  "tree_node", "SLOT2/ai2","\\MC1P07:FOO"}
                    {"MC_SLOT2_MDS_NODE_CH03", "VXI0::48::INSTR",  "tree_node", "SLOT2/ai3","\\MC1P08:FOO"}
}
