file db/db16AI_rt.db
{
    pattern  {  BX,      CHX,  NAME }
        {  "16ADIO",    "0",   BTM_CURRENT }
        {  "16ADIO",    "1",   BTM_VOLTAGE }
        {  "16ADIO",    "2",   MID_CURRENT  }
        {  "16ADIO",    "3",   MID_VOLTAGE  }
        {  "16ADIO",    "4",   TOP_CURRENT  }
        {  "16ADIO",    "5",   TOP_VOLTAGE }
        {  "16ADIO",    "6",   XXX_CURRTEN }
        {  "16ADIO",    "7",   XXX_VOLTAGE }
}




