[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=iocRBA
Type=Application
Terminal=true
Name[en_US]=iocRBA
#Exec=/usr/bin/sudo -u root screen -S iocRBA /usr/local/epics/siteApp/RBA/iocBoot/iocRBA/st.cmd
Exec=screen -S iocRBA st.cmd
Path=/usr/local/epics/siteApp/RBA/iocBoot/iocRBA
Icon[en_US]=/usr/local/epics/siteApp/RBA/util/desktop/epics-logo.png
Icon=/usr/local/epics/siteApp/RBA/util/desktop/epics-logo.png
GenericName[en_US]=
