# By HMT - 2009/06/12

file ./db/ECH_LO_INP.db
{
pattern
{PV_NAME			TAG					PLC		DESC	UNIT	HIGH	LOW}
{ECH_TL_TOR_ANGLE	ECH_TL_TOR_ANGLE	plc1	"Toroidal Auto"	Deg	25	-25}
{ECH_TL_POL_ANGLE	ECH_TL_POL_ANGLE	plc1	"Poloidal Auto"	Deg	-50	-75}
{ECH_TL_POL_EXTANG	ECH_TL_POL_EXTANG	plc1	"Poloidal Ext Trig"	Deg	-50	-75}
}
