# By HMT - 2009/06/12

file ./db/ECH_AI_ALARM.db
{
pattern
{PV_NAME	TAG			PLC					DESC	UNIT 	HIHI	HIGH	LOLO	LOW		LSV			HSV}
{ECH_VME_FLT_RTN		ECH_VME_FLT_RTN		plc2	"VME Fault"	xx	1	1	0		0		"NO_ALARM"	"MAJOR"}
{ECH_APS_FLT_RTN		ECH_APS_FLT_RTN		plc2	"APS Fault"	xx	1	1	0		0		"NO_ALARM"	"MAJOR"}
{ECH_CPS_FLT_RTN		ECH_CPS_FLT_RTN		plc2	"CPS Fault"	xx	1	1	0		0		"NO_ALARM"	"MAJOR"}
}
