#   By Myungkyu Kim - 2008/02/28

file db/ESP300_AO.db
{
pattern
{PV_NAME	INP	DESC}
{ECH_ESP300_1PA	5	"Move to absolute Position"}
{ECH_ESP300_2PA	6	"Move to absolute Position"}
{ECH_ESP300_1PR	7	"Move to Relative Position"}
{ECH_ESP300_2PR	8	"Move to Relative Position"}
{ECH_ESP300_1VAW	22	"Write Set Velocity"}
{ECH_ESP300_2VAW	23	"Write Set Velocity"}
}
