#   By Myungkyu Kim - 2008/02/28

file db/ESP300_AI.db
{
pattern
{PV_NAME	INP	DESC}
{ECH_ESP300_1TP	3	"Read Actual Position"}
{ECH_ESP300_2TP	4	"Read Actual Position"}
{ECH_ESP300_1VAR	20	"Read Set Velocity"}
{ECH_ESP300_2VAR	21	"Read Set Velocity"}
#{ECH_ESP300_TB     30  "Read Error Massage"}
}
