#   By Myungkyu Kim - 2008/02/28

file db/ESP300_SI.db
{
pattern
{PV_NAME	INP	DESC}
{ECH_ESP300_VE	0	"Controller Version"}
{ECH_ESP300_1ID	1	"Stage Model/Serial"}
{ECH_ESP300_2ID	2	"Stage Model/Serial"}
}
