file db/NIDAQmx_BO_SOFT.db {
pattern{PVNAME,			CHAN,    DEV, VALU}
	{"ECH_AO_SELECT_STORE_CH0","0","Dev1_AO","0"}
	{"ECH_AO_SELECT_STORE_CH1","1","Dev1_AO","0"}
#	{"ECH_AO_SELECT_STORE_CH2","2","Dev1_AO","0"}
	{"ECH_AI_SELECT_STORE_CH0","0","Dev1_AI","0"}
}

