file db/NIDAQmx_AO_RTIME.db {
pattern {PV_NAME,            	        	DSR,            STR,          TASK,   CH}
	{"ECH_AO_OUTPUT_VALUE_CH0","ECH_AO_OUTPUT_VALUE_CH0","output_value","Dev1_AO","0"}
	{"ECH_AO_OUTPUT_VALUE_CH1","ECH_AO_OUTPUT_VALUE_CH1","output_value","Dev1_AO","1"}
#	{"ECH_AO_OUTPUT_VALUE_CH2","ECH_AO_OUTPUT_VALUE_CH2","output_value","Dev1_AO","2"}
#	{"ECH_AO_OUTPUT_VALUE_CH3","ECH_AO_OUTPUT_VALUE_CH3","output_value","Dev1_AO","3"}
}


