#   By Myungkyu Kim - 2008/11/06

file db/TPG256.db
{
	pattern
	{PV_NAME	PORT	NUM1	NUM2}
	{ECH_TPG256_P0	L1	0	1}
	{ECH_TPG256_P1	L1	2	3}
	{ECH_TPG256_P2	L1	4	5}
	{ECH_TPG256_P3	L1	6	7}
	{ECH_TPG256_P4	L1	8	9}
	{ECH_TPG256_P5	L1	10	11}
}

