#   By Myungkyu Kim - 2008/02/28

file db/TPG256_SI.db
{
pattern
{PV_NAME	INP	DESC}
{ECH_TPG256_STS0	0	"Gauge 1 Status"}
{ECH_TPG256_STS1	1	"Gauge 2 Status"}
{ECH_TPG256_STS2	2	"Gauge 3 Status"}
{ECH_TPG256_STS3	3	"Gauge 4 Status"}
{ECH_TPG256_STS4	4	"Gauge 5 Status"}
{ECH_TPG256_STS5	5	"Gauge 6 Status"}
}
