#   By Myungkyu Kim - 2008/02/28

file db/TPG256_AI.db
{
pattern
{PV_NAME	INP	DESC}
{ECH_TPG256_P0	0	"Pressure Value 1"}
{ECH_TPG256_P1	1	"Pressure Value 2"}
{ECH_TPG256_P2	2	"Pressure Value 3"}
{ECH_TPG256_P3	3	"Pressure Value 4"}
{ECH_TPG256_P4	4	"Pressure Value 5"}
{ECH_TPG256_P5	5	"Pressure Value 6"}
}
