# By HMT - 2010/05/19
# NBI-1 Bending Magnet

file ./db/devBendingBI.db
{
pattern
{P	FUNC		DESC	DTYP	PORT	A	N}
{NB1	RUN_STATUS	Current	BI_Bend	L0	0	0}
{NB1	IOUT_STATUS	Current	BI_Bend	L0	0	1}
{NB1	FAULT_STATUS	Current	BI_Bend	L0	0	2}
}
