# By HMT - 2010/05/19
# NBI-1 Bending Magnet

file ./db/devBendingMBBI.db
{
pattern
{P	FUNC		DESC	DTYP	PORT	A	N}
{NB1_BM1_	RUN_STATUS	Current	BI_Bend	L0	0	0}
{NB1_BM1_	IOUT_STATUS	Current	BI_Bend	L0	0	1}
{NB1_BM1_	FAULT_STATUS	Current	BI_Bend	L0	0	2}

{NB1_BM2_    RUN_STATUS  Current BI_Bend L0  1   0}
{NB1_BM2_    IOUT_STATUS Current BI_Bend L0  1   1}
{NB1_BM2_    FAULT_STATUS    Current BI_Bend L0  1   2}

}
