# By HMT - 2010/05/19
# NBI-1 Bending Magnet

file ./db/devEtosAO.db
{
pattern
{P			DESC	DTYP	PREC	PORT	A	N}
{NB1_MFC_NEU_SET	NEU	AO_Etos	0	L1	0	0}
{NB1_MFC_ION_SET	ION	AO_Etos	0	L1	0	1}

{NB1_MFC_NEU2_SET	NEU	AO_Etos	0	L1	0	4}
{NB1_MFC_ION2_SET	ION	AO_Etos	0	L1	0	5}
}
