# By HMT - 2010/05/19
# NBI-1 Bending Magnet

file ./db/devICP.db
{
pattern
{P	DESC		DTYP	PREC	PORT	A	N	SCAN		UNIT}
{ICP_CEN_RD_01	Lake1	AI_ICP	1	L0	0	0	"1 second"	k}
{ICP_CEN_RD_02	Lake1	AI_ICP	1	L0	0	1	"1 second"	k}
{ICP_CEN_RD_03	Lake1	AI_ICP	1	L0	0	2	"1 second"	k}
{ICP_CEN_RD_04	Lake1	AI_ICP	1	L0	0	3	"1 second"	k}
{ICP_PRS_VAC_AI	Lake1	AI_ICP	15	L0	0	4	"1 second"	mbar}
}
