file db/NB1_LOCAL_RGA_READ.db
{
	pattern {PV_NAME,		SYS, LINK, INP,	DESC}
		{NB1_BL_RGA_M2,		NB1_LOCAL, L11, 13, "MASS  2"}
		{NB1_BL_RGA_M4,		NB1_LOCAL, L11, 14, "MASS  4"}
		{NB1_BL_RGA_M18,	NB1_LOCAL, L11, 16, "MASS 18"}
		{NB1_BL_RGA_M28,	NB1_LOCAL, L11, 17, "MASS 28"}
		{NB1_BL_RGA_M32,	NB1_LOCAL, L11, 18, "MASS 32"}
		{NB1_BL_RGA_M29,	NB1_LOCAL, L11, 28, "MASS 29"}
}
