file db/dlsPT100_3.db
{
  pattern {              REC,                 DESC,              CH,   OFFSET  }
    	{ "DLS_GCDS_RACK_TEMP",       "DLS_GCDS_RACK_TEMP",  "AI0CH0",     0. },
        { "DLS_VSPEC02_J_TEMP",       "DLS_VSPEC02_J_TEMP" , "AI0CH1",   0. },
        { "DLS_FILD_PROBE_TEMP",      "DLS_FILD_PROBE_TEMP", "AI0CH2",   0. }
}

