file db/dlsShutter4_mbbi.db {
            pattern {REC, 			DE }
                    {"DLS_CASSETTE_M_SHUT_STATUS","DLS_CST_M_SHUT_STATUS"},
                    {"DLS_THOMSONCORE_N_SHUT_STATUS","DLS_TSC_N_SHUT_STATUS"},
                    {"DLS_THOMSONEDGE_N_SHUT_STATUS","DLS_TSE_N_SHUT_STATUS"},
}
