file db/dlsShutter1p_bo.db {
            pattern {REC,                    	 CHAN}
                    {"DLS_ILLUM01_A_PWR",	"DO0CH4"},
                    {"DLS_MSE01_M_PWR",		"DO0CH5"},
                    {"DLS_ILLUM03_I_PWR",	"DO0CH6"},
# Move cFP3 20120927{"DLS_TV02_A_PWR",		"DO2CH0"},
# Move cFP3 20120927{"DLS_TV01_I_PWR",		"DO2CH1"},
# Move cFP3 20120927{"DLS_TV03_D_PWR",		"DO2CH2"},
}
