file db/dlsShutter3p_bo.db {
            pattern {REC,                    	 CHAN}
                    {"DLS_TV01_I_PWR",		"DO0CH0"},
                    {"DLS_TV02_A_PWR",		"DO0CH1"},
                    {"DLS_TV03_D_PWR",		"DO0CH2"}
                    {"DLS_ILLUM01_A_PWR",	"DO0CH11"},
                    {"DLS_ILLUM03_I_PWR",	"DO0CH12"},
}
