file db/dlsShutter_p.db {
            pattern {REC,                    	 CHAN}
                    {"DLS_ILLUM01_A_PWR",	"DO0CH4"},
                    {"DLS_MSE01_M_PWR",		"DO0CH5"},
                    {"DLS_ILLUM03_I_PWR",	"DO0CH6"},
                    {"DLS_TV02_A_PWR",		"DO2CH0"},
                    {"DLS_TV01_I_PWR",		"DO2CH1"},
                    {"DLS_TV03_D_PWR",		"DO3CH6"},
}
