#   By Myungkyu Kim - 2008/02/20

file db/HDS_HCS_AI_T.db
{
pattern
{SELECT	TP	TR	PV_NAME	UNIT}
{HDS_HCS_R_T1_SEL	HDS_HCS_R_TCXP_TFCQ1_S01_TL201_TP1	HDS_HCS_R_TCXR_TFCQ1_S01_TL201_TR1	HDS_HCS_R_T1_IN	K}
{HDS_HCS_R_T2_SEL	HDS_HCS_R_TCXP_TFCQ2_S01_TL202_TP2	HDS_HCS_R_TCXR_TFCQ2_S01_TL202_TR2	HDS_HCS_R_T2_IN	K}
{HDS_HCS_R_T3_SEL	HDS_HCS_R_TCXP_TFCQ3_S01_TL203_TP3	HDS_HCS_R_TCXR_TFCQ3_S01_TL203_TR3	HDS_HCS_R_T3_IN	K}
{HDS_HCS_R_T4_SEL	HDS_HCS_R_TCXP_TFCQ4_S01_TL204_TP4	HDS_HCS_R_TCXR_TFCQ4_S01_TL204_TR4	HDS_HCS_R_T4_IN	K}
{HDS_HCS_R_T5_SEL	HDS_HCS_R_TCXP_TFC00_R01_TL205_TP5	HDS_HCS_R_TCXR_TFC00_R01_TL205_TR5	HDS_HCS_R_T5_IN	K}
{HDS_HCS_R_T6_SEL	HDS_HCS_R_TCXP_TFSQ1_S01_TL206_TP6	HDS_HCS_R_TCXR_TFSQ1_S01_TL206_TR6	HDS_HCS_R_T6_IN	K}
{HDS_HCS_R_T7_SEL	HDS_HCS_R_TCXP_TFSQ2_S01_TL207_TP7	HDS_HCS_R_TCXR_TFSQ2_S01_TL207_TR7	HDS_HCS_R_T7_IN	K}
{HDS_HCS_R_T8_SEL	HDS_HCS_R_TCXP_TFSQ3_S01_TL208_TP8	HDS_HCS_R_TCXR_TFSQ3_S01_TL208_TR8	HDS_HCS_R_T8_IN	K}
{HDS_HCS_R_T9_SEL	HDS_HCS_R_TCXP_TFSQ4_S01_TL209_TP9	HDS_HCS_R_TCXR_TFSQ4_S01_TL209_TR9	HDS_HCS_R_T9_IN	K}
{HDS_HCS_R_T10_SEL	HDS_HCS_R_TCXP_TFS00_R01_TL310_TP10	HDS_HCS_R_TCXR_TFS00_R01_TL310_TR10	HDS_HCS_R_T10_IN	K}
{HDS_HCS_R_T23_SEL	HDS_HCS_R_TCXP_PFC03_S01_TL223_TP23	HDS_HCS_R_TCXR_PFC03_S01_TL223_TR23	HDS_HCS_R_T23_IN	K}
{HDS_HCS_R_T24_SEL	HDS_HCS_R_TCXP_PFC04_S01_TL224_TP24	HDS_HCS_R_TCXR_PFC04_S01_TL224_TR24	HDS_HCS_R_T24_IN	K}
{HDS_HCS_R_T26_SEL	HDS_HCS_R_TCXP_PFC34_R01_TL226_TP26	HDS_HCS_R_TCXR_PCF34_R01_TL226_TR26	HDS_HCS_R_T26_IN	K}
{HDS_HCS_R_T27_SEL	HDS_HCS_R_TCXP_PFS00_S01_TL227_TP27	HDS_HCS_R_TCXR_PFS00_S01_TL227_TR27	HDS_HCS_R_T27_IN	K}
{HDS_HCS_R_T28_SEL	HDS_HCS_R_TCXP_PFC15_R01_TL328_TP28	HDS_HCS_R_TCXR_PFC15_R01_TL328_TR28	HDS_HCS_R_T28_IN	K}
{HDS_HCS_R_T21_SEL	HDS_HCS_R_TCXP_PFC01_S01_TL221_TP21	HDS_HCS_R_TCXR_PFC01_S01_TL221_TR21	HDS_HCS_R_T21_IN	K}
{HDS_HCS_R_T22_SEL	HDS_HCS_R_TCXP_PFC02_S01_TL222_TP22	HDS_HCS_R_TCXR_PFC02_S01_TL222_TR22	HDS_HCS_R_T22_IN	K}
{HDS_HCS_R_T25_SEL	HDS_HCS_R_TCXP_PFC05_S01_TL225_TP25	HDS_HCS_R_TCXR_PFC05_S01_TL225_TR25	HDS_HCS_R_T25_IN	K}
{HDS_HCS_R_T41_SEL	HDS_HCS_R_TCXP_PFC06_S01_TL241_TP41	HDS_HCS_R_TCXR_PFC06_S01_TL241_TR41	HDS_HCS_R_T41_IN	K}
{HDS_HCS_R_T42_SEL	HDS_HCS_R_TCXP_PFC07_S01_TL242_TP42	HDS_HCS_R_TCXR_PFC07_S01_TL242_TR42	HDS_HCS_R_T42_IN	K}
{HDS_HCS_R_T43_SEL	HDS_HCS_R_TCXP_PFC67_R01_TL343_TP43	HDS_HCS_R_TCXR_PFC67_R01_TL343_TR43	HDS_HCS_R_T43_IN	K}
{HDS_HCS_R_T44_SEL	HDS_HCS_R_TCXP_TFB00_S01_TL244_TP44	HDS_HCS_R_TCXR_TFB00_S01_TL244_TR44	HDS_HCS_R_T44_IN	K}
{HDS_HCS_R_T45_SEL	HDS_HCS_R_TCXP_TFBHR_S01_TL245_TP45	HDS_HCS_R_TCXR_TFBHR_S01_TL245_TR45	HDS_HCS_R_T45_IN	K}
{HDS_HCS_R_T51_SEL	HDS_HCS_R_TCXP_TFB00_R01_TL351_TP51	HDS_HCS_R_TCXR_TFB00_R01_TL351_TR51	HDS_HCS_R_T51_IN	K}
{HDS_HCS_R_T46_SEL	HDS_HCS_R_TCXP_PFB12_S01_TL646_TP46	HDS_HCS_R_TCXR_PFB12_S01_TL646_TR46	HDS_HCS_R_T46_IN	K}
{HDS_HCS_R_T47_SEL	HDS_HCS_R_TCXP_PFBU35_S01_TL647_TP47	HDS_HCS_R_TCXR_PFBU35_S01_TL647_TR47	HDS_HCS_R_T47_IN	K}
{HDS_HCS_R_T48_SEL	HDS_HCS_R_TCXP_PFBL35_S01_TL648_TP48	HDS_HCS_R_TCXR_PFBL35_S01_TL648_TR48	HDS_HCS_R_T48_IN	K}
{HDS_HCS_R_T49_SEL	HDS_HCS_R_TCXP_PFB06_S01_TL649_TP49	HDS_HCS_R_TCXR_PFB06_S01_TL649_TR49	HDS_HCS_R_T49_IN	K}
{HDS_HCS_R_T50_SEL	HDS_HCS_R_TCXP_PFB07_S01_TL650_TP50	HDS_HCS_R_TCXR_PFB07_S01_TL650_TR50	HDS_HCS_R_T50_IN	K}
{HDS_HCS_R_T52_SEL	HDS_HCS_R_TCXP_PFB00_R01_TL252_TP52	HDS_HCS_R_TCXR_PFB00_R01_TL252_TR52	HDS_HCS_R_T52_IN	K}
{HDS_HCS_R_T63_SEL	HDS_HCS_R_TCXP_VTSH1_R01_TL263_TP63	HDS_HCS_R_TCXR_VTSH1_R01_TL263_TR63	HDS_HCS_R_T63_IN	K}
{HDS_HCS_R_T64_SEL	HDS_HCS_R_TCXP_VTSH2_R01_TL264_TP64	HDS_HCS_R_TCXR_VTSH2_R01_TL264_TR64	HDS_HCS_R_T64_IN	K}
{HDS_HCS_R_T67_SEL	HDS_HCS_R_TCXP_CTRQ1_R01_TL367_TP67	HDS_HCS_R_TCXR_CTRQ1_R01_TL367_TR67	HDS_HCS_R_T67_IN	K}
{HDS_HCS_R_T68_SEL	HDS_HCS_R_TCXP_CTRQ2_R01_TL368_TP68	HDS_HCS_R_TCXR_CTRQ2_R01_TL368_TR68	HDS_HCS_R_T68_IN	K}
{HDS_HCS_R_T69_SEL	HDS_HCS_R_TCXP_CTRQ3_R01_TL369_TP69	HDS_HCS_R_TCXR_CTRQ3_R01_TL369_TR69	HDS_HCS_R_T69_IN	K}
{HDS_HCS_R_T72_SEL	HDS_HCS_R_TCXP_TFBTS_R01_TL372_TP72	HDS_HCS_R_TCXR_TFBTS_R01_TL372_TR72	HDS_HCS_R_T72_IN	K}
{HDS_HCS_R_T73_SEL	HDS_HCS_R_TCXP_PFBTS_R01_TL373_TP73	HDS_HCS_R_TCXR_PFBTS_R01_TL373_TR73	HDS_HCS_R_T73_IN	K}
{HDS_HCS_R_T81_SEL	HDS_HCS_R_TCXP_CRTLD_S01_TL581_TP81	HDS_HCS_R_TCXR_CRTLD_S01_TL581_TR81	HDS_HCS_R_T81_IN	K}
{HDS_HCS_R_T82_SEL	HDS_HCS_R_TCXP_CRTLD_R01_TL582_TP82	HDS_HCS_R_TCXR_CRTLD_R01_TL582_TR82	HDS_HCS_R_T82_IN	K}
{HDS_HCS_R_TPT_TS02A_TL100_SEL	HDS_HCS_R_TPTP_TS01A_TL100	HDS_HCS_R_TPTR_TS01A_TL100	HDS_HCS_R_TPT_TS01A_TL100_IN	K}
{HDS_HCS_R_TPT_TS02B_TL100_SEL	HDS_HCS_R_TPTP_TS01B_TL100	HDS_HCS_R_TPTR_TS01B_TL100	HDS_HCS_R_TPT_TS01B_TL100_IN	K}
{HDS_HCS_R_TPT_TS01A_TL100_SEL	HDS_HCS_R_TPTP_TS02A_TL100	HDS_HCS_R_TPTR_TS02A_TL100	HDS_HCS_R_TPT_TS02A_TL100_IN	K}
{HDS_HCS_R_TPT_TS01B_TL100_SEL	HDS_HCS_R_TPTP_TS02B_TL100	HDS_HCS_R_TPTR_TS02B_TL100	HDS_HCS_R_TPT_TS02B_TL100_IN	K}
{HDS_HCS_R_TPT_TS01A_TL200_SEL	HDS_HCS_R_TPTP_TS01A_TL200	HDS_HCS_R_TPTR_TS01A_TL200	HDS_HCS_R_TPT_TS01A_TL200_IN	K}
{HDS_HCS_R_TPT_TS01B_TL200_SEL	HDS_HCS_R_TPTP_TS01B_TL200	HDS_HCS_R_TPTR_TS01B_TL200	HDS_HCS_R_TPT_TS01B_TL200_IN	K}
{HDS_HCS_R_TPT_TS02A_TL200_SEL	HDS_HCS_R_TPTP_TS02A_TL200	HDS_HCS_R_TPTR_TS02A_TL200	HDS_HCS_R_TPT_TS02A_TL200_IN	K}
{HDS_HCS_R_TPT_TS02B_TL200_SEL	HDS_HCS_R_TPTP_TS02B_TL200	HDS_HCS_R_TPTR_TS02B_TL200	HDS_HCS_R_TPT_TS02B_TL200_IN	K}
{HDS_HCS_R_TPT_TS01A_TL300_SEL	HDS_HCS_R_TPTP_TS01A_TL300	HDS_HCS_R_TPTR_TS01A_TL300	HDS_HCS_R_TPT_TS01A_TL300_IN	K}
{HDS_HCS_R_TPT_TS01B_TL300_SEL	HDS_HCS_R_TPTP_TS01B_TL300	HDS_HCS_R_TPTR_TS01B_TL300	HDS_HCS_R_TPT_TS01B_TL300_IN	K}
{HDS_HCS_R_TPT_TS02A_TL300_SEL	HDS_HCS_R_TPTP_TS02A_TL300	HDS_HCS_R_TPTR_TS02A_TL300	HDS_HCS_R_TPT_TS02A_TL300_IN	K}
{HDS_HCS_R_TPT_TS02B_TL300_SEL	HDS_HCS_R_TPTP_TS02B_TL300	HDS_HCS_R_TPTR_TS02B_TL300	HDS_HCS_R_TPT_TS02B_TL300_IN	K}
{HDS_HCS_R_TPT_TS01A_TL500_SEL	HDS_HCS_R_TPTP_TS01A_TL500	HDS_HCS_R_TPTR_TS01A_TL500	HDS_HCS_R_TPT_TS01A_TL500_IN	K}
{HDS_HCS_R_TPT_TS01B_TL500_SEL	HDS_HCS_R_TPTP_TS01B_TL500	HDS_HCS_R_TPTR_TS01B_TL500	HDS_HCS_R_TPT_TS01B_TL500_IN	K}
{HDS_HCS_R_TPT_TS02A_TL500_SEL	HDS_HCS_R_TPTP_TS02A_TL500	HDS_HCS_R_TPTR_TS02A_TL500	HDS_HCS_R_TPT_TS02A_TL500_IN	K}
{HDS_HCS_R_TPT_TS02B_TL500_SEL	HDS_HCS_R_TPTP_TS02B_TL500	HDS_HCS_R_TPTR_TS02B_TL500	HDS_HCS_R_TPT_TS02B_TL500_IN	K}
{HDS_HCS_R_TPT_TS01A_TL600_SEL	HDS_HCS_R_TPTP_TS01A_TL600	HDS_HCS_R_TPTR_TS01A_TL600	HDS_HCS_R_TPT_TS01A_TL600_IN	K}
{HDS_HCS_R_TPT_TS01B_TL600_SEL	HDS_HCS_R_TPTP_TS01B_TL600	HDS_HCS_R_TPTR_TS01B_TL600	HDS_HCS_R_TPT_TS01B_TL600_IN	K}
{HDS_HCS_R_TPT_TS02A_TL600_SEL	HDS_HCS_R_TPTP_TS02A_TL600	HDS_HCS_R_TPTR_TS02A_TL600	HDS_HCS_R_TPT_TS02A_TL600_IN	K}
{HDS_HCS_R_TPT_TS02B_TL600_SEL	HDS_HCS_R_TPTP_TS02B_TL600	HDS_HCS_R_TPTR_TS02B_TL600	HDS_HCS_R_TPT_TS02B_TL600_IN	K}
{HDS_HCS_R_TPT_TS001_DBCYL_SEL	HDS_HCS_R_TPTP_TS001_DBCYL	HDS_HCS_R_TPTR_TS001_DBCYL	HDS_HCS_R_TPT_TS001_DBCYL_IN	K}
{HDS_HCS_R_TPT_TS002_DBCYL_SEL	HDS_HCS_R_TPTP_TS002_DBCYL	HDS_HCS_R_TPTR_TS002_DBCYL	HDS_HCS_R_TPT_TS002_DBCYL_IN	K}
{HDS_HCS_R_TPT_TS003_DBCYL_SEL	HDS_HCS_R_TPTP_TS003_DBCYL	HDS_HCS_R_TPTR_TS003_DBCYL	HDS_HCS_R_TPT_TS003_DBCYL_IN	K}
{HDS_HCS_R_TPT_TS004_DBCYL_SEL	HDS_HCS_R_TPTP_TS004_DBCYL	HDS_HCS_R_TPTR_TS004_DBCYL	HDS_HCS_R_TPT_TS004_DBCYL_IN	K}
{HDS_HCS_R_TPT_TS005_DBCYL_SEL	HDS_HCS_R_TPTP_TS005_DBCYL	HDS_HCS_R_TPTR_TS005_DBCYL	HDS_HCS_R_TPT_TS005_DBCYL_IN	K}
{HDS_HCS_R_TPT_TS006_DBCYL_SEL	HDS_HCS_R_TPTP_TS006_DBCYL	HDS_HCS_R_TPTR_TS006_DBCYL	HDS_HCS_R_TPT_TS006_DBCYL_IN	K}
{HDS_HCS_R_TPT_TS007_DBCYL_SEL	HDS_HCS_R_TPTP_TS007_DBCYL	HDS_HCS_R_TPTR_TS007_DBCYL	HDS_HCS_R_TPT_TS007_DBCYL_IN	K}
{HDS_HCS_R_TPT_TS001_DBTOP_SEL	HDS_HCS_R_TPTP_TS001_DBTOP	HDS_HCS_R_TPTR_TS001_DBTOP	HDS_HCS_R_TPT_TS001_DBTOP_IN	K}
{HDS_HCS_R_TPT_TS002_DBTOP_SEL	HDS_HCS_R_TPTP_TS002_DBTOP	HDS_HCS_R_TPTR_TS002_DBTOP	HDS_HCS_R_TPT_TS002_DBTOP_IN	K}
{HDS_HCS_R_TPT_TS003_DBTOP_SEL	HDS_HCS_R_TPTP_TS003_DBTOP	HDS_HCS_R_TPTR_TS003_DBTOP	HDS_HCS_R_TPT_TS003_DBTOP_IN	K}
{HDS_HCS_R_TPT_TS004_DBTOP_SEL	HDS_HCS_R_TPTP_TS004_DBTOP	HDS_HCS_R_TPTR_TS004_DBTOP	HDS_HCS_R_TPT_TS004_DBTOP_IN	K}
{HDS_HCS_R_TPT_TS005_DBTOP_SEL	HDS_HCS_R_TPTP_TS005_DBTOP	HDS_HCS_R_TPTR_TS005_DBTOP	HDS_HCS_R_TPT_TS005_DBTOP_IN	K}
{HDS_HCS_R_TPT_TS006_DBTOP_SEL	HDS_HCS_R_TPTP_TS006_DBTOP	HDS_HCS_R_TPTR_TS006_DBTOP	HDS_HCS_R_TPT_TS006_DBTOP_IN	K}
{HDS_HCS_R_TPT_TS001_DBBTM_SEL	HDS_HCS_R_TPTP_TS001_DBBTM	HDS_HCS_R_TPTR_TS001_DBBTM	HDS_HCS_R_TPT_TS001_DBBTM_IN	K}
{HDS_HCS_R_TPT_TS002_DBBTM_SEL	HDS_HCS_R_TPTP_TS002_DBBTM	HDS_HCS_R_TPTR_TS002_DBBTM	HDS_HCS_R_TPT_TS002_DBBTM_IN	K}
{HDS_HCS_R_TPT_TS003_DBBTM_SEL	HDS_HCS_R_TPTP_TS003_DBBTM	HDS_HCS_R_TPTR_TS003_DBBTM	HDS_HCS_R_TPT_TS003_DBBTM_IN	K}
{HDS_HCS_R_TPT_TS004_DBBTM_SEL	HDS_HCS_R_TPTP_TS004_DBBTM	HDS_HCS_R_TPTR_TS004_DBBTM	HDS_HCS_R_TPT_TS004_DBBTM_IN	K}
{HDS_HCS_R_TPT_TS005_DBBTM_SEL	HDS_HCS_R_TPTP_TS005_DBBTM	HDS_HCS_R_TPTR_TS005_DBBTM	HDS_HCS_R_TPT_TS005_DBBTM_IN	K}
{HDS_HCS_R_TPT_TS006_DBBTM_SEL	HDS_HCS_R_TPTP_TS006_DBBTM	HDS_HCS_R_TPTR_TS006_DBBTM	HDS_HCS_R_TPT_TS006_DBBTM_IN	K}
{HDS_HCS_R_TPT_TS007_DBBTM_SEL	HDS_HCS_R_TPTP_TS007_DBBTM	HDS_HCS_R_TPTR_TS007_DBBTM	HDS_HCS_R_TPT_TS007_DBBTM_IN	K}
#{HDS_HCS_R_B1_SENSOR_SEL	HDS_HCS_R_P5_AL_HH	HDS_HCS_R_P5_AL_HH	HDS_HCS_R_B1_P_LIMIT	bar}
#{HDS_HCS_R_B2_SENSOR_SEL	HDS_HCS_R_P26_AL_HH	HDS_HCS_R_P26_AL_HH	HDS_HCS_R_B2_P_LIMIT	bar}
#{HDS_HCS_R_B3_SENSOR_SEL	HDS_HCS_R_P64_AL_HH	HDS_HCS_R_P64_AL_HH	HDS_HCS_R_B3_P_LIMIT	bar}
}
