#   By Myungkyu Kim - 2008/11/13

file db/HDS_HCS_AI_ALARM.db
{
pattern
{PV_NAME_IN	PV_NAME	HIHI_BIT	HIGH_BIT	LOW_BIT	LOLO_BIT	UNIT}
{HDS_HCS_R_TPT_TS01A_TL100_IN	HDS_HCS_R_TPT_TS01A_TL100	HDS_HCS_R_TPT_TS01A_TL100_HH_BIT	HDS_HCS_R_TPT_TS01A_TL100_H_BIT	HDS_HCS_R_TPT_TS01A_TL100_L_BIT	HDS_HCS_R_TPT_TS01A_TL100_LL_BIT	K}
{HDS_HCS_R_TPT_TS01B_TL100_IN	HDS_HCS_R_TPT_TS01B_TL100	HDS_HCS_R_TPT_TS01B_TL100_HH_BIT	HDS_HCS_R_TPT_TS01B_TL100_H_BIT	HDS_HCS_R_TPT_TS01B_TL100_L_BIT	HDS_HCS_R_TPT_TS01B_TL100_LL_BIT	K}
{HDS_HCS_R_TPT_TS02A_TL100_IN	HDS_HCS_R_TPT_TS02A_TL100	HDS_HCS_R_TPT_TS02A_TL100_HH_BIT	HDS_HCS_R_TPT_TS02A_TL100_H_BIT	HDS_HCS_R_TPT_TS02A_TL100_L_BIT	HDS_HCS_R_TPT_TS02A_TL100_LL_BIT	K}
{HDS_HCS_R_TPT_TS02B_TL100_IN	HDS_HCS_R_TPT_TS02B_TL100	HDS_HCS_R_TPT_TS02B_TL100_HH_BIT	HDS_HCS_R_TPT_TS02B_TL100_H_BIT	HDS_HCS_R_TPT_TS02B_TL100_L_BIT	HDS_HCS_R_TPT_TS02B_TL100_LL_BIT	K}
{HDS_HCS_R_TPT_TS01A_TL200_IN	HDS_HCS_R_TPT_TS01A_TL200	HDS_HCS_R_TPT_TS01A_TL200_HH_BIT	HDS_HCS_R_TPT_TS01A_TL200_H_BIT	HDS_HCS_R_TPT_TS01A_TL200_L_BIT	HDS_HCS_R_TPT_TS01A_TL200_LL_BIT	K}
{HDS_HCS_R_TPT_TS01B_TL200_IN	HDS_HCS_R_TPT_TS01B_TL200	HDS_HCS_R_TPT_TS01B_TL200_HH_BIT	HDS_HCS_R_TPT_TS01B_TL200_H_BIT	HDS_HCS_R_TPT_TS01B_TL200_L_BIT	HDS_HCS_R_TPT_TS01B_TL200_LL_BIT	K}
{HDS_HCS_R_TPT_TS02A_TL200_IN	HDS_HCS_R_TPT_TS02A_TL200	HDS_HCS_R_TPT_TS02A_TL200_HH_BIT	HDS_HCS_R_TPT_TS02A_TL200_H_BIT	HDS_HCS_R_TPT_TS02A_TL200_L_BIT	HDS_HCS_R_TPT_TS02A_TL200_LL_BIT	K}
{HDS_HCS_R_TPT_TS02B_TL200_IN	HDS_HCS_R_TPT_TS02B_TL200	HDS_HCS_R_TPT_TS02B_TL200_HH_BIT	HDS_HCS_R_TPT_TS02B_TL200_H_BIT	HDS_HCS_R_TPT_TS02B_TL200_L_BIT	HDS_HCS_R_TPT_TS02B_TL200_LL_BIT	K}
{HDS_HCS_R_TPT_TS01A_TL300_IN	HDS_HCS_R_TPT_TS01A_TL300	HDS_HCS_R_TPT_TS01A_TL300_HH_BIT	HDS_HCS_R_TPT_TS01A_TL300_H_BIT	HDS_HCS_R_TPT_TS01A_TL300_L_BIT	HDS_HCS_R_TPT_TS01A_TL300_LL_BIT	K}
{HDS_HCS_R_TPT_TS01B_TL300_IN	HDS_HCS_R_TPT_TS01B_TL300	HDS_HCS_R_TPT_TS01B_TL300_HH_BIT	HDS_HCS_R_TPT_TS01B_TL300_H_BIT	HDS_HCS_R_TPT_TS01B_TL300_L_BIT	HDS_HCS_R_TPT_TS01B_TL300_LL_BIT	K}
{HDS_HCS_R_TPT_TS02A_TL300_IN	HDS_HCS_R_TPT_TS02A_TL300	HDS_HCS_R_TPT_TS02A_TL300_HH_BIT	HDS_HCS_R_TPT_TS02A_TL300_H_BIT	HDS_HCS_R_TPT_TS02A_TL300_L_BIT	HDS_HCS_R_TPT_TS02A_TL300_LL_BIT	K}
{HDS_HCS_R_TPT_TS02B_TL300_IN	HDS_HCS_R_TPT_TS02B_TL300	HDS_HCS_R_TPT_TS02B_TL300_HH_BIT	HDS_HCS_R_TPT_TS02B_TL300_H_BIT	HDS_HCS_R_TPT_TS02B_TL300_L_BIT	HDS_HCS_R_TPT_TS02B_TL300_LL_BIT	K}
{HDS_HCS_R_TPT_TS01A_TL500_IN	HDS_HCS_R_TPT_TS01A_TL500	HDS_HCS_R_TPT_TS01A_TL500_HH_BIT	HDS_HCS_R_TPT_TS01A_TL500_H_BIT	HDS_HCS_R_TPT_TS01A_TL500_L_BIT	HDS_HCS_R_TPT_TS01A_TL500_LL_BIT	K}
{HDS_HCS_R_TPT_TS01B_TL500_IN	HDS_HCS_R_TPT_TS01B_TL500	HDS_HCS_R_TPT_TS01B_TL500_HH_BIT	HDS_HCS_R_TPT_TS01B_TL500_H_BIT	HDS_HCS_R_TPT_TS01B_TL500_L_BIT	HDS_HCS_R_TPT_TS01B_TL500_LL_BIT	K}
{HDS_HCS_R_TPT_TS02A_TL500_IN	HDS_HCS_R_TPT_TS02A_TL500	HDS_HCS_R_TPT_TS02A_TL500_HH_BIT	HDS_HCS_R_TPT_TS02A_TL500_H_BIT	HDS_HCS_R_TPT_TS02A_TL500_L_BIT	HDS_HCS_R_TPT_TS02A_TL500_LL_BIT	K}
{HDS_HCS_R_TPT_TS02B_TL500_IN	HDS_HCS_R_TPT_TS02B_TL500	HDS_HCS_R_TPT_TS02B_TL500_HH_BIT	HDS_HCS_R_TPT_TS02B_TL500_H_BIT	HDS_HCS_R_TPT_TS02B_TL500_L_BIT	HDS_HCS_R_TPT_TS02B_TL500_LL_BIT	K}
{HDS_HCS_R_TPT_TS01A_TL600_IN	HDS_HCS_R_TPT_TS01A_TL600	HDS_HCS_R_TPT_TS01A_TL600_HH_BIT	HDS_HCS_R_TPT_TS01A_TL600_H_BIT	HDS_HCS_R_TPT_TS01A_TL600_L_BIT	HDS_HCS_R_TPT_TS01A_TL600_LL_BIT	K}
{HDS_HCS_R_TPT_TS01B_TL600_IN	HDS_HCS_R_TPT_TS01B_TL600	HDS_HCS_R_TPT_TS01B_TL600_HH_BIT	HDS_HCS_R_TPT_TS01B_TL600_H_BIT	HDS_HCS_R_TPT_TS01B_TL600_L_BIT	HDS_HCS_R_TPT_TS01B_TL600_LL_BIT	K}
{HDS_HCS_R_TPT_TS02A_TL600_IN	HDS_HCS_R_TPT_TS02A_TL600	HDS_HCS_R_TPT_TS02A_TL600_HH_BIT	HDS_HCS_R_TPT_TS02A_TL600_H_BIT	HDS_HCS_R_TPT_TS02A_TL600_L_BIT	HDS_HCS_R_TPT_TS02A_TL600_LL_BIT	K}
{HDS_HCS_R_TPT_TS02B_TL600_IN	HDS_HCS_R_TPT_TS02B_TL600	HDS_HCS_R_TPT_TS02B_TL600_HH_BIT	HDS_HCS_R_TPT_TS02B_TL600_H_BIT	HDS_HCS_R_TPT_TS02B_TL600_L_BIT	HDS_HCS_R_TPT_TS02B_TL600_LL_BIT	K}
{HDS_HCS_R_TPT_TS001_DBCYL_IN	HDS_HCS_R_TPT_TS001_DBCYL	HDS_HCS_R_TPT_TS001_DBCYL_HH_BIT	HDS_HCS_R_TPT_TS001_DBCYL_H_BIT	HDS_HCS_R_TPT_TS001_DBCYL_L_BIT	HDS_HCS_R_TPT_TS001_DBCYL_LL_BIT	K}
{HDS_HCS_R_TPT_TS002_DBCYL_IN	HDS_HCS_R_TPT_TS002_DBCYL	HDS_HCS_R_TPT_TS002_DBCYL_HH_BIT	HDS_HCS_R_TPT_TS002_DBCYL_H_BIT	HDS_HCS_R_TPT_TS002_DBCYL_L_BIT	HDS_HCS_R_TPT_TS002_DBCYL_LL_BIT	K}
{HDS_HCS_R_TPT_TS003_DBCYL_IN	HDS_HCS_R_TPT_TS003_DBCYL	HDS_HCS_R_TPT_TS003_DBCYL_HH_BIT	HDS_HCS_R_TPT_TS003_DBCYL_H_BIT	HDS_HCS_R_TPT_TS003_DBCYL_L_BIT	HDS_HCS_R_TPT_TS003_DBCYL_LL_BIT	K}
{HDS_HCS_R_TPT_TS004_DBCYL_IN	HDS_HCS_R_TPT_TS004_DBCYL	HDS_HCS_R_TPT_TS004_DBCYL_HH_BIT	HDS_HCS_R_TPT_TS004_DBCYL_H_BIT	HDS_HCS_R_TPT_TS004_DBCYL_L_BIT	HDS_HCS_R_TPT_TS004_DBCYL_LL_BIT	K}
{HDS_HCS_R_TPT_TS005_DBCYL_IN	HDS_HCS_R_TPT_TS005_DBCYL	HDS_HCS_R_TPT_TS005_DBCYL_HH_BIT	HDS_HCS_R_TPT_TS005_DBCYL_H_BIT	HDS_HCS_R_TPT_TS005_DBCYL_L_BIT	HDS_HCS_R_TPT_TS005_DBCYL_LL_BIT	K}
{HDS_HCS_R_TPT_TS006_DBCYL_IN	HDS_HCS_R_TPT_TS006_DBCYL	HDS_HCS_R_TPT_TS006_DBCYL_HH_BIT	HDS_HCS_R_TPT_TS006_DBCYL_H_BIT	HDS_HCS_R_TPT_TS006_DBCYL_L_BIT	HDS_HCS_R_TPT_TS006_DBCYL_LL_BIT	K}
{HDS_HCS_R_TPT_TS007_DBCYL_IN	HDS_HCS_R_TPT_TS007_DBCYL	HDS_HCS_R_TPT_TS007_DBCYL_HH_BIT	HDS_HCS_R_TPT_TS007_DBCYL_H_BIT	HDS_HCS_R_TPT_TS007_DBCYL_L_BIT	HDS_HCS_R_TPT_TS007_DBCYL_LL_BIT	K}
{HDS_HCS_R_TPT_TS001_DBTOP_IN	HDS_HCS_R_TPT_TS001_DBTOP	HDS_HCS_R_TPT_TS001_DBTOP_HH_BIT	HDS_HCS_R_TPT_TS001_DBTOP_H_BIT	HDS_HCS_R_TPT_TS001_DBTOP_L_BIT	HDS_HCS_R_TPT_TS001_DBTOP_LL_BIT	K}
{HDS_HCS_R_TPT_TS002_DBTOP_IN	HDS_HCS_R_TPT_TS002_DBTOP	HDS_HCS_R_TPT_TS002_DBTOP_HH_BIT	HDS_HCS_R_TPT_TS002_DBTOP_H_BIT	HDS_HCS_R_TPT_TS002_DBTOP_L_BIT	HDS_HCS_R_TPT_TS002_DBTOP_LL_BIT	K}
{HDS_HCS_R_TPT_TS003_DBTOP_IN	HDS_HCS_R_TPT_TS003_DBTOP	HDS_HCS_R_TPT_TS003_DBTOP_HH_BIT	HDS_HCS_R_TPT_TS003_DBTOP_H_BIT	HDS_HCS_R_TPT_TS003_DBTOP_L_BIT	HDS_HCS_R_TPT_TS003_DBTOP_LL_BIT	K}
{HDS_HCS_R_TPT_TS004_DBTOP_IN	HDS_HCS_R_TPT_TS004_DBTOP	HDS_HCS_R_TPT_TS004_DBTOP_HH_BIT	HDS_HCS_R_TPT_TS004_DBTOP_H_BIT	HDS_HCS_R_TPT_TS004_DBTOP_L_BIT	HDS_HCS_R_TPT_TS004_DBTOP_LL_BIT	K}
{HDS_HCS_R_TPT_TS005_DBTOP_IN	HDS_HCS_R_TPT_TS005_DBTOP	HDS_HCS_R_TPT_TS005_DBTOP_HH_BIT	HDS_HCS_R_TPT_TS005_DBTOP_H_BIT	HDS_HCS_R_TPT_TS005_DBTOP_L_BIT	HDS_HCS_R_TPT_TS005_DBTOP_LL_BIT	K}
{HDS_HCS_R_TPT_TS006_DBTOP_IN	HDS_HCS_R_TPT_TS006_DBTOP	HDS_HCS_R_TPT_TS006_DBTOP_HH_BIT	HDS_HCS_R_TPT_TS006_DBTOP_H_BIT	HDS_HCS_R_TPT_TS006_DBTOP_L_BIT	HDS_HCS_R_TPT_TS006_DBTOP_LL_BIT	K}
{HDS_HCS_R_TPT_TS001_DBBTM_IN	HDS_HCS_R_TPT_TS001_DBBTM	HDS_HCS_R_TPT_TS001_DBBTM_HH_BIT	HDS_HCS_R_TPT_TS001_DBBTM_H_BIT	HDS_HCS_R_TPT_TS001_DBBTM_L_BIT	HDS_HCS_R_TPT_TS001_DBBTM_LL_BIT	K}
{HDS_HCS_R_TPT_TS002_DBBTM_IN	HDS_HCS_R_TPT_TS002_DBBTM	HDS_HCS_R_TPT_TS002_DBBTM_HH_BIT	HDS_HCS_R_TPT_TS002_DBBTM_H_BIT	HDS_HCS_R_TPT_TS002_DBBTM_L_BIT	HDS_HCS_R_TPT_TS002_DBBTM_LL_BIT	K}
{HDS_HCS_R_TPT_TS003_DBBTM_IN	HDS_HCS_R_TPT_TS003_DBBTM	HDS_HCS_R_TPT_TS003_DBBTM_HH_BIT	HDS_HCS_R_TPT_TS003_DBBTM_H_BIT	HDS_HCS_R_TPT_TS003_DBBTM_L_BIT	HDS_HCS_R_TPT_TS003_DBBTM_LL_BIT	K}
{HDS_HCS_R_TPT_TS004_DBBTM_IN	HDS_HCS_R_TPT_TS004_DBBTM	HDS_HCS_R_TPT_TS004_DBBTM_HH_BIT	HDS_HCS_R_TPT_TS004_DBBTM_H_BIT	HDS_HCS_R_TPT_TS004_DBBTM_L_BIT	HDS_HCS_R_TPT_TS004_DBBTM_LL_BIT	K}
{HDS_HCS_R_TPT_TS005_DBBTM_IN	HDS_HCS_R_TPT_TS005_DBBTM	HDS_HCS_R_TPT_TS005_DBBTM_HH_BIT	HDS_HCS_R_TPT_TS005_DBBTM_H_BIT	HDS_HCS_R_TPT_TS005_DBBTM_L_BIT	HDS_HCS_R_TPT_TS005_DBBTM_LL_BIT	K}
{HDS_HCS_R_TPT_TS006_DBBTM_IN	HDS_HCS_R_TPT_TS006_DBBTM	HDS_HCS_R_TPT_TS006_DBBTM_HH_BIT	HDS_HCS_R_TPT_TS006_DBBTM_H_BIT	HDS_HCS_R_TPT_TS006_DBBTM_L_BIT	HDS_HCS_R_TPT_TS006_DBBTM_LL_BIT	K}
{HDS_HCS_R_TPT_TS007_DBBTM_IN	HDS_HCS_R_TPT_TS007_DBBTM	HDS_HCS_R_TPT_TS007_DBBTM_HH_BIT	HDS_HCS_R_TPT_TS007_DBBTM_H_BIT	HDS_HCS_R_TPT_TS007_DBBTM_L_BIT	HDS_HCS_R_TPT_TS007_DBBTM_LL_BIT	K}
{HDS_HCS_R_Q2_R_IN	HDS_HCS_R_Q2_R	HDS_HCS_R_Q2_AL_HH_BIT	HDS_HCS_R_Q2_AL_H_BIT	HDS_HCS_R_Q2_AL_L_BIT	HDS_HCS_R_Q2_AL_LL_BIT	%}
{HDS_HCS_R_B1_R_IN	HDS_HCS_R_B1_R	HDS_HCS_R_B1_AL_HH_BIT	HDS_HCS_R_B1_AL_H_BIT	HDS_HCS_R_B1_AL_L_BIT	HDS_HCS_R_B1_AL_LL_BIT	%}
{HDS_HCS_R_C01_R_IN	HDS_HCS_R_C01_R	HDS_HCS_R_C01_AL_HH_BIT	HDS_HCS_R_C01_AL_H_BIT	HDS_HCS_R_C01_AL_L_BIT	HDS_HCS_R_C01_AL_LL_BIT	%}
{HDS_HCS_R_C02_R_IN	HDS_HCS_R_C02_R	HDS_HCS_R_C02_AL_HH_BIT	HDS_HCS_R_C02_AL_H_BIT	HDS_HCS_R_C02_AL_L_BIT	HDS_HCS_R_C02_AL_LL_BIT	%}
{HDS_HCS_R_C03_R_IN	HDS_HCS_R_C03_R	HDS_HCS_R_C03_AL_HH_BIT	HDS_HCS_R_C03_AL_H_BIT	HDS_HCS_R_C03_AL_L_BIT	HDS_HCS_R_C03_AL_LL_BIT	%}
{HDS_HCS_R_C04_R_IN	HDS_HCS_R_C04_R	HDS_HCS_R_C04_AL_HH_BIT	HDS_HCS_R_C04_AL_H_BIT	HDS_HCS_R_C04_AL_L_BIT	HDS_HCS_R_C04_AL_LL_BIT	%}
{HDS_HCS_R_Q8_R_IN	HDS_HCS_R_Q8_R	HDS_HCS_R_Q8_AL_HH_BIT	HDS_HCS_R_Q8_AL_H_BIT	HDS_HCS_R_Q8_AL_L_BIT	HDS_HCS_R_Q8_AL_LL_BIT	%}
{HDS_HCS_R_B2_R_IN	HDS_HCS_R_B2_R	HDS_HCS_R_B2_AL_HH_BIT	HDS_HCS_R_B2_AL_H_BIT	HDS_HCS_R_B2_AL_L_BIT	HDS_HCS_R_B2_AL_LL_BIT	%}
{HDS_HCS_R_C21_R_IN	HDS_HCS_R_C21_R	HDS_HCS_R_C21_AL_HH_BIT	HDS_HCS_R_C21_AL_H_BIT	HDS_HCS_R_C21_AL_L_BIT	HDS_HCS_R_C21_AL_LL_BIT	%}
{HDS_HCS_R_C23_R_IN	HDS_HCS_R_C23_R	HDS_HCS_R_C23_AL_HH_BIT	HDS_HCS_R_C23_AL_H_BIT	HDS_HCS_R_C23_AL_L_BIT	HDS_HCS_R_C23_AL_LL_BIT	%}
{HDS_HCS_R_C25_R_IN	HDS_HCS_R_C25_R	HDS_HCS_R_C25_AL_HH_BIT	HDS_HCS_R_C25_AL_H_BIT	HDS_HCS_R_C25_AL_L_BIT	HDS_HCS_R_C25_AL_LL_BIT	%}
{HDS_HCS_R_C41_R_IN	HDS_HCS_R_C41_R	HDS_HCS_R_C41_AL_HH_BIT	HDS_HCS_R_C41_AL_H_BIT	HDS_HCS_R_C41_AL_L_BIT	HDS_HCS_R_C41_AL_LL_BIT	%}
{HDS_HCS_R_C42_R_IN	HDS_HCS_R_C42_R	HDS_HCS_R_C42_AL_HH_BIT	HDS_HCS_R_C42_AL_H_BIT	HDS_HCS_R_C42_AL_L_BIT	HDS_HCS_R_C42_AL_LL_BIT	%}
{HDS_HCS_R_Q12_R_IN	HDS_HCS_R_Q12_R	HDS_HCS_R_Q12_AL_HH_BIT	HDS_HCS_R_Q12_AL_H_BIT	HDS_HCS_R_Q12_AL_L_BIT	HDS_HCS_R_Q12_AL_LL_BIT	%}
{HDS_HCS_R_Q13_R_IN	HDS_HCS_R_Q13_R	HDS_HCS_R_Q13_AL_HH_BIT	HDS_HCS_R_Q13_AL_H_BIT	HDS_HCS_R_Q13_AL_L_BIT	HDS_HCS_R_Q13_AL_LL_BIT	%}
{HDS_HCS_R_C44_R_IN	HDS_HCS_R_C44_R	HDS_HCS_R_C44_AL_HH_BIT	HDS_HCS_R_C44_AL_H_BIT	HDS_HCS_R_C44_AL_L_BIT	HDS_HCS_R_C44_AL_LL_BIT	%}
{HDS_HCS_R_C45_R_IN	HDS_HCS_R_C45_R	HDS_HCS_R_C45_AL_HH_BIT	HDS_HCS_R_C45_AL_H_BIT	HDS_HCS_R_C45_AL_L_BIT	HDS_HCS_R_C45_AL_LL_BIT	%}
{HDS_HCS_R_C46_R_IN	HDS_HCS_R_C46_R	HDS_HCS_R_C46_AL_HH_BIT	HDS_HCS_R_C46_AL_H_BIT	HDS_HCS_R_C46_AL_L_BIT	HDS_HCS_R_C46_AL_LL_BIT	%}
{HDS_HCS_R_C47_R_IN	HDS_HCS_R_C47_R	HDS_HCS_R_C47_AL_HH_BIT	HDS_HCS_R_C47_AL_H_BIT	HDS_HCS_R_C47_AL_L_BIT	HDS_HCS_R_C47_AL_LL_BIT	%}
{HDS_HCS_R_C48_R_IN	HDS_HCS_R_C48_R	HDS_HCS_R_C48_AL_HH_BIT	HDS_HCS_R_C48_AL_H_BIT	HDS_HCS_R_C48_AL_L_BIT	HDS_HCS_R_C48_AL_LL_BIT	%}
{HDS_HCS_R_C49_R_IN	HDS_HCS_R_C49_R	HDS_HCS_R_C49_AL_HH_BIT	HDS_HCS_R_C49_AL_H_BIT	HDS_HCS_R_C49_AL_L_BIT	HDS_HCS_R_C49_AL_LL_BIT	%}
{HDS_HCS_R_C50_R_IN	HDS_HCS_R_C50_R	HDS_HCS_R_C50_AL_HH_BIT	HDS_HCS_R_C50_AL_H_BIT	HDS_HCS_R_C50_AL_L_BIT	HDS_HCS_R_C50_AL_LL_BIT	%}
{HDS_HCS_R_C63_R_IN	HDS_HCS_R_C63_R	HDS_HCS_R_C63_AL_HH_BIT	HDS_HCS_R_C63_AL_H_BIT	HDS_HCS_R_C63_AL_L_BIT	HDS_HCS_R_C63_AL_LL_BIT	%}
{HDS_HCS_R_C67_R_IN	HDS_HCS_R_C67_R	HDS_HCS_R_C67_AL_HH_BIT	HDS_HCS_R_C67_AL_H_BIT	HDS_HCS_R_C67_AL_L_BIT	HDS_HCS_R_C67_AL_LL_BIT	%}
{HDS_HCS_R_C68_R_IN	HDS_HCS_R_C68_R	HDS_HCS_R_C68_AL_HH_BIT	HDS_HCS_R_C68_AL_H_BIT	HDS_HCS_R_C68_AL_L_BIT	HDS_HCS_R_C68_AL_LL_BIT	%}
{HDS_HCS_R_C69_R_IN	HDS_HCS_R_C69_R	HDS_HCS_R_C69_AL_HH_BIT	HDS_HCS_R_C69_AL_H_BIT	HDS_HCS_R_C69_AL_L_BIT	HDS_HCS_R_C69_AL_LL_BIT	%}
{HDS_HCS_R_C72_R_IN	HDS_HCS_R_C72_R	HDS_HCS_R_C72_AL_HH_BIT	HDS_HCS_R_C72_AL_H_BIT	HDS_HCS_R_C72_AL_L_BIT	HDS_HCS_R_C72_AL_LL_BIT	%}
{HDS_HCS_R_C73_R_IN	HDS_HCS_R_C73_R	HDS_HCS_R_C73_AL_HH_BIT	HDS_HCS_R_C73_AL_H_BIT	HDS_HCS_R_C73_AL_L_BIT	HDS_HCS_R_C73_AL_LL_BIT	%}
{HDS_HCS_R_B3_R_IN	HDS_HCS_R_B3_R	HDS_HCS_R_B3_AL_HH_BIT	HDS_HCS_R_B3_AL_H_BIT	HDS_HCS_R_B3_AL_L_BIT	HDS_HCS_R_B3_AL_LL_BIT	%}
}
