#   By Myungkyu Kim - 2008/10/13

file db/HDS_VPS_READ.db
{
pattern
{PV_NAME	INP	DESC}
{HDS_VPS_RGA_M2	13	"MASS 2"}
{HDS_VPS_RGA_M4  14      "MASS 4"}
{HDS_VPS_RGA_M12  15      "MASS 12"}
{HDS_VPS_RGA_M18  16      "MASS 18"}
{HDS_VPS_RGA_M28  17      "MASS 28"}
{HDS_VPS_RGA_M32  18      "MASS 32"}
{HDS_VPS_RGA_M40  19      "MASS 40"}
{HDS_VPS_RGA_M44  20      "MASS 44"}
{HDS_VPS_RGA_M55  21      "MASS 55"}
}
