#   By Myungkyu Kim - 2008/04/01

file db/HDS_VPS_GAUGE_AL.db
{
pattern
{PV_NAME	HIHI	 HIGH} 
{HDS_VPS_R_CG1	HDS_VPS_W_PRS_LEV4	HDS_VPS_W_PRS_LEV5}
{HDS_VPS_R_CG2	HDS_VPS_W_PRS_LEV4	HDS_VPS_W_PRS_LEV5}
{HDS_VPS_R_FG1	HDS_VPS_W_PRS_LEV4	HDS_VPS_W_PRS_LEV5}
{HDS_VPS_R_FG2	HDS_VPS_W_PRS_LEV4	HDS_VPS_W_PRS_LEV5}
}
