#   By Myungkyu Kim - 2008/02/14

file db/HDS_VPS_MBBI_TMP.db
{
pattern 
{PV_NAME	TAG	DESC}
{HDS_VPS_R_TMP1_ERRCODE	E_TMP1_ERRORCODE	"E_TMP1_ERRORCODE"}
{HDS_VPS_R_TMP2_ERRCODE	E_TMP2_ERRORCODE	"E_TMP2_ERRORCODE"}
{HDS_VPS_R_TMP3_ERRCODE	E_TMP3_ERRORCODE	"E_TMP3_ERRORCODE"}
{HDS_VPS_R_TMP4_ERRCODE	E_TMP4_ERRORCODE	"E_TMP4_ERRORCODE"}
{HDS_VPS_R_TMP5_ERRCODE	E_TMP5_ERRORCODE	"E_TMP5_ERRORCODE"}
{HDS_VPS_R_TMP6_ERRCODE	E_TMP6_ERRORCODE	"E_TMP6_ERRORCODE"}
}
