file db/PMS_IVCC_MAX.db 
{
 pattern
{PV 		HHVAL	HIVAL}
{PMS_IVCC_ALL	80	70}
{PMS_IVCC_B	80	70}
{PMS_IVCC_F	80	70}
{PMS_IVCC_F00	60	50}
{PMS_IVCC_J00	60	50}
{PMS_IVCC_COIL	60	50}
{PMS_IVCC_CABLE	60	50}
}
