file db/PMS_MAX.db 
{
 pattern
{PV}
{PMS_OD_U}
{PMS_CD_U}
{PMS_ID_U}
{PMS_OD_L}
{PMS_CD_L}
{PMS_ID_L}
{PMS_IL_U}
{PMS_PS_U}
{PMS_PS_L}
{PMS_IL_L}
{PMS_NB_P}
{PMS_NB_G}
{PMS_NB_ALL}
{PMS_PL_ALL}
{PMS_ALL}
#{PMS_IVCC_F00}
#{PMS_IVCC_J00}
#{PMS_IVCC_COIL}
#{PMS_IVCC_CABLE}
}
