#   By Myungkyu Kim - 2010/06/14

file db/PMS_VV_TEMP.db
{
pattern
	{PV_OPI				DESC		PV_TEMP		PLC	TAG		 UNIT}
	{PMS_VV_LTV_TS01_OPI	" 1769-IT6 - 644"	PMS_VV_LTV_TS01	plc5	TEMP[21]	 degC}
	{PMS_VV_LBV_TS01_OPI	" 1769-IT6 - 645"	PMS_VV_LBV_TS01	plc5	TEMP[22]	 degC}
}
