file db/PMS_BI.db
{
pattern
{PV_NAME	DESC	TAG}
{PMS_PF_MPS_DIW_PUMP	"PF MPS DI Water Pump Status"	MCM.DATA.ReadData[0]}
{PMS_IVC_PS_DIW_PUMP    "IVC PS DI Water Pump Status"   MCM.DATA.ReadData[1]}
{PMS_TF_MPS_DIW_PUMP    "TF MPS DI Water Pump Status"   MCM.DATA.ReadData[2]}
}

