file db/dbManualOffset.db
{
    pattern  { DESC,     SCAN,    ID}
# maximum number is 50
        { "offset id 0", ".2 second",   "0" }
        { "offset id 1", ".2 second",   "1" }
        { "Offset id 2", ".2 second",   "2" }
        { "Offset id 3", ".2 second",   "3" }
        { "Offset id 4", ".2 second",   "4" }
}

