file db/HALPHA_AO.db {
        pattern { PV,                    DS,                      MODE,      ACT}
                {"HALPHA_Dev2_chBitMask", "Analog output",           "Dev2",  "ch_onoff"},
#                {"HALPHA_dev3Convert",    "Analog output",           "Dev3",  "raw2ascii"},
#                {"HALPHA_dev3Run",        "Analog output",           "Dev3",  "ad_run"},
#                {"HALPHA_dev3CHgain",     "Analog output",           "Dev3",  "ch_gain"},
#                {"HALPHA_Dev3_chBitMask", "Analog output",           "Dev3",  "ch_onoff"},
}
