#   By Myungkyu Kim - 2012/07/12

file db/CLS_AO_TEMP.db
{
pattern
{PV_NAME	PV_NAME_OUT	TAG}
{TMS_PFB12_BHL_TCUS01	CLS_PFB12_BHL_TCUS01	CLS_PFBUS_CV1_TEMPMAS}
{TMS_PFB12_BHL_TCUS01A	CLS_PFB12_BHL_TCUS01A	CLS_PFBUS_CV1_TEMPSLA}
{TMS_PFB12_BHL_TCUS02   CLS_PFB12_BHL_TCUS02    CLS_PFBUS_CV2_TEMPMAS}
{TMS_PFB12_BHL_TCUS02A  CLS_PFB12_BHL_TCUS02A   CLS_PFBUS_CV2_TEMPSLA}
}

