#   By Myungkyu Kim - 2008/11/21

file db/CLS_VPS_MBBI_TMP.db
{
pattern 
{PV_NAME	TAG	DESC}
{CLS_VPS_R_TMP1_ERRCODE	E_TMP1_ERRORCODE	"E_TMP1_ERRORCODE"}
{CLS_VPS_R_TMP2_ERRCODE	E_TMP2_ERRORCODE	"E_TMP2_ERRORCODE"}
{CLS_VPS_R_TMP3_ERRCODE	E_TMP3_ERRORCODE	"E_TMP3_ERRORCODE"}
{CLS_VPS_R_TMP4_ERRCODE	E_TMP4_ERRORCODE	"E_TMP4_ERRORCODE"}
{CLS_VPS_R_TMP5_ERRCODE	E_TMP5_ERRORCODE	"E_TMP5_ERRORCODE"}
}
