#   By Myungkyu Kim - 2008/11/21

file db/CLS_VPS_AI_TMP_I.db
{
pattern
{PV_NAME	TAG	DESC	UNIT	LOPR	 HOPR} 
{CLS_VPS_R_TMP1_CURRENT	E_TMP1_CURRENT	"E_TMP1_CURRENT"	A	0	 100} 
{CLS_VPS_R_TMP2_CURRENT	E_TMP2_CURRENT	"E_TMP2_CURRENT"	A	0	 100} 
{CLS_VPS_R_TMP3_CURRENT	E_TMP3_CURRENT	"E_TMP3_CURRENT"	A	0	 100} 
{CLS_VPS_R_TMP4_CURRENT	E_TMP4_CURRENT	"E_TMP4_CURRENT"	A	0	 100} 
{CLS_VPS_R_TMP5_CURRENT	E_TMP5_CURRENT	"E_TMP5_CURRENT"	A	0	 100} 
}
