#   By Myungkyu Kim - 2010/05/03

file db/CLS_HCS_BO.db
{
pattern
{PV_NAME	PV_NAME_INP	TAG	ZNAM	ONAM	ZSV	OSV}
{CLS_HCS_W_PF_CDM_BUS_CL1_U_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL1_U_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_UPPER_TEMP_AL_EN[0]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL2_U_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL2_U_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_UPPER_TEMP_AL_EN[1]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL3_U_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL3_U_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_UPPER_TEMP_AL_EN[2]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL4_U_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL4_U_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_UPPER_TEMP_AL_EN[3]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL5_U_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL5_U_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_UPPER_TEMP_AL_EN[4]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL6_U_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL6_U_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_UPPER_TEMP_AL_EN[5]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL7_U_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL7_U_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_UPPER_TEMP_AL_EN[6]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL1_L_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL1_L_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[0]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL2_L_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL2_L_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[1]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL3_L_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL3_L_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[2]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL4_L_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL4_L_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[3]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL5_L_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL5_L_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[4]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL6_L_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL6_L_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[5]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL7_L_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL7_L_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[6]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_BT1_L_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_BT1_L_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[11]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_BT2_L_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_BT2_L_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[12]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_MF1_CDM_TEMP_AL_EN	CLS_HCS_R_MF1_CDM_TEMP_AL_EN	EPICS_MF_CDM_TEMP_AL_EN[0]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_MF2_CDM_TEMP_AL_EN	CLS_HCS_R_MF2_CDM_TEMP_AL_EN	EPICS_MF_CDM_TEMP_AL_EN[1]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_MF3_CDM_TEMP_AL_EN	CLS_HCS_R_MF3_CDM_TEMP_AL_EN	EPICS_MF_CDM_TEMP_AL_EN[2]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_MF4_CDM_TEMP_AL_EN	CLS_HCS_R_MF4_CDM_TEMP_AL_EN	EPICS_MF_CDM_TEMP_AL_EN[3]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_MF5_CDM_TEMP_AL_EN	CLS_HCS_R_MF5_CDM_TEMP_AL_EN	EPICS_MF_CDM_TEMP_AL_EN[4]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL2P_U_TEMP_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL2P_U_TEMP_AL_EN	EPICS_TF_CDM_BUS_CL_UPPER_TEMP_AL_EN[0]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL2N_U_TEMP_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL2N_U_TEMP_AL_EN	EPICS_TF_CDM_BUS_CL_UPPER_TEMP_AL_EN[1]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL2P_L_TEMP_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL2P_L_TEMP_AL_EN	EPICS_TF_CDM_BUS_CL_LOWER_TEMP_AL_EN[0]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL2N_L_TEMP_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL2N_L_TEMP_AL_EN	EPICS_TF_CDM_BUS_CL_LOWER_TEMP_AL_EN[1]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_BT_L_TEMP_AL_EN	CLS_HCS_R_TF_CDM_BUS_BT_L_TEMP_AL_EN	EPICS_TF_CDM_BUS_CL_LOWER_TEMP_AL_EN[2]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL1P_MF_TEMP_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL1P_MF_TEMP_AL_EN	EPICS_TF_CDM_BUS_TEMP_AL_EN[0]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL2P_MF_TEMP_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL2P_MF_TEMP_AL_EN	EPICS_TF_CDM_BUS_TEMP_AL_EN[1]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL1N_MF_TEMP_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL1N_MF_TEMP_AL_EN	EPICS_TF_CDM_BUS_TEMP_AL_EN[2]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL2N_MF_TEMP_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL2N_MF_TEMP_AL_EN	EPICS_TF_CDM_BUS_TEMP_AL_EN[3]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL1U_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL1U_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[0]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL1L_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL1L_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[1]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL2U_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL2U_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[2]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL2L_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL2L_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[3]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL3U_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL3U_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[4]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL3L_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL3L_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[5]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL4U_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL4U_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[6]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL4L_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL4L_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[7]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL5U_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL5U_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[8]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL5L_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL5L_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[9]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL6U_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL6U_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[10]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL6L_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL6L_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[11]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL7U_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL7U_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[12]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL7L_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL7L_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[13]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL3UNE_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL3UNE_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[14]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL3LNE_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL3LNE_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[15]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL4UNE_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL4UNE_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[16]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL4LNE_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL4LNE_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[17]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL5UNE_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL5UNE_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[18]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL5LNE_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL5LNE_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[19]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL6UNE_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL6UNE_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[19]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL1P_FLOW_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL1P_FLOW_AL_EN	EPICS_TF_CDM_BUS_FLOW_AL_EN[0]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL2P_FLOW_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL2P_FLOW_AL_EN	EPICS_TF_CDM_BUS_FLOW_AL_EN[1]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL1N_FLOW_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL1N_FLOW_AL_EN	EPICS_TF_CDM_BUS_FLOW_AL_EN[2]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_CL2N_FLOW_AL_EN	CLS_HCS_R_TF_CDM_BUS_CL2N_FLOW_AL_EN	EPICS_TF_CDM_BUS_FLOW_AL_EN[3]	OFF	ON	NO_ALARM	MAJOR}

{CLS_HCS_W_PF_CDM_BUS_MF1_PRESS_AL_EN	CLS_HCS_R_PF_CDM_BUS_MF1_PRESS_AL_EN	EPICS_PF_CDM_PRESS_AL_EN[0]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_MF2_PRESS_AL_EN	CLS_HCS_R_PF_CDM_BUS_MF2_PRESS_AL_EN	EPICS_PF_CDM_PRESS_AL_EN[1]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_MF3_PRESS_AL_EN	CLS_HCS_R_PF_CDM_BUS_MF3_PRESS_AL_EN	EPICS_PF_CDM_PRESS_AL_EN[2]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_MF4_PRESS_AL_EN	CLS_HCS_R_PF_CDM_BUS_MF4_PRESS_AL_EN	EPICS_PF_CDM_PRESS_AL_EN[3]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_MF5_PRESS_AL_EN	CLS_HCS_R_PF_CDM_BUS_MF5_PRESS_AL_EN	EPICS_PF_CDM_PRESS_AL_EN[4]	OFF	ON	NO_ALARM	MAJOR}
#{CLS_HCS_W_PF_CDM_BUS_MF1_PRESS_AL_EN	CLS_HCS_R_PF_CDM_BUS_MF1_PRESS_AL_EN	EPICS_PF_CDM_BUS_MF1_PRESS_AL_EN	OFF	ON	NO_ALARM	MAJOR}
#{CLS_HCS_W_PF_CDM_BUS_MF2_PRESS_AL_EN	CLS_HCS_R_PF_CDM_BUS_MF2_PRESS_AL_EN	EPICS_PF_CDM_BUS_MF2_PRESS_AL_EN	OFF	ON	NO_ALARM	MAJOR}
#{CLS_HCS_W_PF_CDM_BUS_MF3_PRESS_AL_EN	CLS_HCS_R_PF_CDM_BUS_MF3_PRESS_AL_EN	EPICS_PF_CDM_BUS_MF3_PRESS_AL_EN	OFF	ON	NO_ALARM	MAJOR}
#{CLS_HCS_W_PF_CDM_BUS_MF4_PRESS_AL_EN	CLS_HCS_R_PF_CDM_BUS_MF4_PRESS_AL_EN	EPICS_PF_CDM_BUS_MF4_PRESS_AL_EN	OFF	ON	NO_ALARM	MAJOR}
#{CLS_HCS_W_PF_CDM_BUS_MF5_PRESS_AL_EN	CLS_HCS_R_PF_CDM_BUS_MF5_PRESS_AL_EN	EPICS_PF_CDM_BUS_MF5_PRESS_AL_EN	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_CDM_BUS_MF_PRESS_AL_EN	CLS_HCS_R_TF_CDM_BUS_MF_PRESS_AL_EN	EPICS_TF_CDM_BUS_MF_PRESS_AL_EN	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_CONTROL_MODE	CLS_HCS_R_CONTROL_MODE	EPICS_CONTROL_MODE	COOLDOWN	OPERATION	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_LCV_COMP	CLS_HCS_R_PF_LCV_COMP	EPICS_PF_LCV_COMP	OFF	SYNC	NO_ALARM	MAJOR}
{CLS_HCS_W_TF_LCV_COMP	CLS_HCS_R_TF_LCV_COMP	EPICS_TF_LCV_COMP	OFF	SYNC	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_3NE_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_3NE_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[7]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_4NE_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_4NE_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[8]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_5NE_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_5NE_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[9]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_6NE_TEMP_AL_EN	CLS_HCS_R_PF_CDM_BUS_6NE_TEMP_AL_EN	EPICS_PF_CDM_BUS_CL_LOWER_TEMP_AL_EN[10]	OFF	ON	NO_ALARM	MAJOR}
{CLS_HCS_W_PF_CDM_BUS_CL6LNE_FLOW_AL_EN	CLS_HCS_R_PF_CDM_BUS_CL6LNE_FLOW_AL_EN	EPICS_PF_CDM_BUS_FLOW_AL_EN[21]	OFF	ON	NO_ALARM	MAJOR}
}
