#   By Myungkyu Kim - 2008/11/21

file db/CLS_VPS_GAUGE_AL.db
{
pattern
{PV_NAME	HIHI	 HIGH} 
{CLS_VPS_R_PRESSURE_CG1	CLS_VPS_W_PF_PRESSURE_LEVEL_4	CLS_VPS_W_PF_PRESSURE_LEVEL_5}
{CLS_VPS_R_PRESSURE_CG2	CLS_VPS_W_TF_PRESSURE_LEVEL_4	CLS_VPS_W_TF_PRESSURE_LEVEL_5}
{CLS_VPS_R_PRESSURE_FG1	CLS_VPS_W_PF_PRESSURE_LEVEL_4	CLS_VPS_W_PF_PRESSURE_LEVEL_5}
{CLS_VPS_R_PRESSURE_FG2	CLS_VPS_W_TF_PRESSURE_LEVEL_4	CLS_VPS_W_TF_PRESSURE_LEVEL_5}
}
