#   By Leesi.

file db/CWF_AI_TEMP.db
{
pattern {PV_NAME		DESC			TAG		EGU }
	{CWF_TMON_COMP_ROOM	"CWF_TMON_COMP_ROOM"	TRA_HPAC02A	degC}
	#{CWF_WATER_TEMP	"CWF_WATER_TEMP"	CWF_WATER_TEMP	degC}
}
