#   By Leesi.

file db/CWF_DI.db
{
pattern {PV_NAME		DESC			TAG	 	}
	{CWF_THERMOHYD1_STATE	"CWF_THERMOHYD1_STATE"	HPAC02A_ST	}
	{CWF_THERMOHYD1_ALARM	"CWF_THERMOHYD1_ALARM"	HPAC02A_TRIP}
	{CWF_THERMOHYD2_STATE	"CWF_THERMOHYD2_STATE"	HPAC02B_ST	}
	{CWF_THERMOHYD2_ALARM	"CWF_THERMOHYD2_ALARM"	HPAC02B_TRIP}
}
