file db/PMS_AI.db
{
pattern
{PV_NAME	DESC	TAG}
{PMS_PBS_LS_LR_PT1872	"LOWER L port PT 1872"	PBS_LS_LR_PT1872}
{PMS_PBS_TV_LR_PT1866   "TOP L port PT 1866"       PBS_TV_LR_PT1866}
{PMS_PG_TOP   "LOWER L port PT 1872"  PBS_LS_LR_PT1872}
{PMS_PG_LOWER   "LOWER L port PT 1872"  PBS_LS_LR_PT1872}
}

