file db/ESD.vdb
{
pattern
	{PV}
	{ESD_RC}
	{ESD_VCM}
	{ESD_MP}
	{ESD_FL}
	{ESD_DL}
	{ESD_SL}
	{ESD_LV}
	{ESD_LM}
	{ESD_MC}
	{ESD_HCM}
	{ESD_RLP}
	{ESD_FEP}
	{ESD_HA}
	{ESD_FS}
	{ESD_VS}
	{ESD_MMWI}
	{ESD_REF}
	{ESD_ECE}
	{ESD_TV1}
	{ESD_TV2}
	{ESD_TV3}
	{ESD_RXICS}
	{ESD_TXICS}
	{ESD_SX}
	{ESD_RB}
	{ESD_IB}
	{ESD_IRTV1}
	{ESD_ECEI}
	{ESD_TS}
	{ESD_CES}
	{ESD_HXR}
	{ESD_NEU}
	{ESD_CIS}
	{ESD_EL}
	{ESD_FION}
	{ESD_CXNPA}
	{ESD_FIR}
	{ESD_XP}
	{ESD_MSE}
}

